@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";
    var carouselItems = Model.Value<IList<ContentModels.Picture>>("Carousel"); //.Select(p => new Picture(p)).ToList();
    var i = 0;
    var persons = Model.Root().Children.Where(x => x.IsDocumentType("people")).FirstOrDefault().Children;
    var members = "";
    var delimiter = "";
    var currentUrl = UmbracoContext.CleanedUmbracoUrl.AbsoluteUri;
    Uri currentUri = new Uri(currentUrl);
    var baseUrl = $"{currentUri.Scheme}://{currentUri.Authority}";
    @foreach (ContentModels.Person person in persons)
    {
        var protrait = (person.Photo != null) ? person.Photo.Url() : "/assets/images/personsiloet.jpg";
        protrait = baseUrl + protrait;
        members += delimiter;
        members += "\t\t\t{\n";
        members += "\t\t\t\t\"@type\": \"Person\",\n";
        members += $"\t\t\t\t\"jobTitle\": \"{string.Join(", ", person.Value<string[]>("memberType"))}\",\n";
        members += $"\t\t\t\t\"name\": \"{person.Name}\",\n";
        members += $"\t\t\t\t\"telephone\": \"{person.Phone}\",\n";
        members += $"\t\t\t\t\"email\": \"{person.Email}\",\n";
        members += $"\t\t\t\t\"description\": \"{person.Elected}\",\n";
        members += $"\t\t\t\t\"image\": \"{Html.Raw(protrait)}\"\n";
        members += "\t\t\t}";
        delimiter = ",\n";
    }
}
<script type="application/ld+json">
    {
        "@@context": "https://schema.org",
        "@@type": "Organization",
        "url": "https://tvingsbakken.org/",
        "email": "tvingsbakken.bestyrelsen(at)gmail.com",
        "name": "Grundejerforeningen Tvingsbakken",
        "address": {
            "@@type": "PostalAddress",
            "streetAddress": "Tvingsbakken",
            "postalCode": "3200",
            "addressLocality": "Helsinge"
        },
        "members": [
@Html.Raw(members)
        ],
        "logo": "https://www.tvingsbakken.org/assets/images/logo.svg"
    }
</script>
<section>
    @foreach (var p in carouselItems)
    {
        string image = (p.Image != null) ? p.Image.Url() : "";
        <div class="frontpage" style="background-image: url(@image)">
            <div class="frontpage-caption">
                <div class="wow fadeInUp">
                    <h1>@p.Title</h1>
                </div>
            </div>
        </div>
    }
</section>
<div class="grid-section">
    <div>
        <div class="row clearfix">
            <div class="cols-1 column">
                <div>
                    @Html.Partial("~/Views/Partials/LatestBlogposts.cshtml", Model)
                </div>
            </div>
        </div>
    </div>
</div>
