deploy/
frontend/node_modules/
tvingsbakken.org/wwwroot/assets/
tvingsbakken.org/wwwroot/umbraco/


.vs/
tvingsbakken.org/umbraco/models/ood.flag
TBGF.Apps.Frontend/node_modules/
TBGF.Apps.Website/wwwroot/assets/
