<?xml version="1.0" encoding="utf-8"?>
<Macro Key="9b81f622-97f8-4e46-bf9a-7fd20cf0c018" Alias="featuredProduct" Level="0">
  <Name>Showcase Product</Name>
  <MacroSource>~/Views/MacroPartials/featuredProducts.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties>
    <Property>
      <Name>Choose Product</Name>
      <Alias>product</Alias>
      <SortOrder>0</SortOrder>
      <EditorAlias>Umbraco.ContentPickerAlias</EditorAlias>
    </Property>
  </Properties>
</Macro>