<?xml version="1.0" encoding="utf-8"?>
<Media Key="0364effb-c8c3-4989-aca5-aa73012eab23" Alias="2020 11 30 18H50 42" Level="2">
  <Info>
    <Parent Key="4634616b-aa75-438e-a9ab-e2a1b485ecb2">Info images</Parent>
    <Path>/InfoImages/H5042</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-11-30T18:56:29</CreateDate>
    <NodeName Default="2020 11 30 18H50 42" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/5xxhia4d/2020-11-30_18h50_42.png","crops":[{"alias":"thumb","width":720,"height":540},{"alias":"full","width":1130,"height":848}]}]]></Value>
    </umbracoFile>
  </Properties>
</Media>