<?xml version="1.0" encoding="utf-8"?>
<Media Key="e2b24727-b8cf-4d1a-8982-097e556a18f9" Alias="Budgetforslag 2019" Level="3">
  <Info>
    <Parent Key="dabbb3ac-e8d4-4554-ac97-28c34c7391f5">Referater</Parent>
    <Path>/Dokumenter/Referater/Budgetforslag2019</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2019-03-26T23:29:56</CreateDate>
    <NodeName Default="Budgetforslag 2019" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1061/budgetforslag-2019.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>