<?xml version="1.0" encoding="utf-8"?>
<Media Key="317c11e8-878c-4d10-81d1-626de636d734" Alias="Budgetforslag 2020" Level="3">
  <Info>
    <Parent Key="dabbb3ac-e8d4-4554-ac97-28c34c7391f5">Referater</Parent>
    <Path>/Dokumenter/Referater/Budgetforslag2020</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-08-20T17:55:45</CreateDate>
    <NodeName Default="Budgetforslag 2020" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4aihymmm/budgetforslag-2020.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>