<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac114b64-6942-436c-90cd-479458a0fe1d" Alias="Generale" Level="2">
  <Info>
    <Parent Key="415e1345-e4bc-44e3-b1e8-4df79223a2a4">Dokumenter</Parent>
    <Path>/Dokumenter/Generale</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-01-21T23:29:57</CreateDate>
    <NodeName Default="Generale" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <contents>
      <Value><![CDATA[]]></Value>
    </contents>
  </Properties>
</Media>