<?xml version="1.0" encoding="utf-8"?>
<Media Key="baf6c0eb-df8c-4b43-8058-eb68b135611b" Alias="GF2021" Level="3">
  <Info>
    <Parent Key="dabbb3ac-e8d4-4554-ac97-28c34c7391f5">Referater</Parent>
    <Path>/Dokumenter/Referater/GF2021</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-08-29T23:46:30</CreateDate>
    <NodeName Default="GF2021" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <contents>
      <Value><![CDATA[]]></Value>
    </contents>
  </Properties>
</Media>