<?xml version="1.0" encoding="utf-8"?>
<Media Key="46e6964a-4c77-49c1-b2a9-89a87dabc1c7" Alias="GF2020" Level="3">
  <Info>
    <Parent Key="dabbb3ac-e8d4-4554-ac97-28c34c7391f5">Referater</Parent>
    <Path>/Dokumenter/Referater/GF2020</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-10-12T18:15:54</CreateDate>
    <NodeName Default="GF2020" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <contents>
      <Value><![CDATA[]]></Value>
    </contents>
  </Properties>
</Media>