<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d97b7c2-8822-4bb3-bdd3-af7c3e5dbcf3" Alias="Gigabit Handlingsplan" Level="2">
  <Info>
    <Parent Key="4634616b-aa75-438e-a9ab-e2a1b485ecb2">Info images</Parent>
    <Path>/InfoImages/GigabitHandlingsplan</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-02T23:13:14</CreateDate>
    <NodeName Default="Gigabit Handlingsplan" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ys1jo5jc/gigabit-handlingsplan.png","crops":[{"alias":"thumb","width":720,"height":540},{"alias":"full","width":1130,"height":848}]}]]></Value>
    </umbracoFile>
  </Properties>
</Media>