<?xml version="1.0" encoding="utf-8"?>
<Media Key="9e34c3a7-7a18-4a37-a3a1-a51bf946560d" Alias="Hjertestarter Alle 3" Level="3">
  <Info>
    <Parent Key="fa9f8e6b-d4fb-4563-a329-a4b16dbafaf2">Hjertestarter</Parent>
    <Path>/InfoImages/Hjertestarter/HjertestarterAlle3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-12-22T23:25:34</CreateDate>
    <NodeName Default="Hjertestarter Alle 3" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/uhbdjhqy/hjertestarter-alle-3.png","crops":[{"alias":"thumb","width":720,"height":540},{"alias":"full","width":1130,"height":848}]}]]></Value>
    </umbracoFile>
  </Properties>
</Media>