<?xml version="1.0" encoding="utf-8"?>
<Media Key="f7f4f644-8d8c-4ad4-a694-b691cae74df4" Alias="Hjertestarter på Tvingsbakken 26" Level="3">
  <Info>
    <Parent Key="fa9f8e6b-d4fb-4563-a329-a4b16dbafaf2">Hjertestarter</Parent>
    <Path>/InfoImages/Hjertestarter/HjertestarterPaTvingsbakken26</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-12-27T00:44:28</CreateDate>
    <NodeName Default="Hjertestarter på Tvingsbakken 26" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/il1pj32m/hjertestarter-some.png","focalPoint":{"left":0.5,"top":0.5},"crops":[{"alias":"thumb","width":720,"height":540,"coordinates":null},{"alias":"full","width":1130,"height":848,"coordinates":null}]}]]></Value>
    </umbracoFile>
  </Properties>
</Media>