<?xml version="1.0" encoding="utf-8"?>
<Media Key="be88995a-c087-4e24-a356-be17f0cbca6c" Alias="Honning Fra Tvingsbakken 2022" Level="2">
  <Info>
    <Parent Key="4634616b-aa75-438e-a9ab-e2a1b485ecb2">Info images</Parent>
    <Path>/InfoImages/HonningFraTvingsbakken2022</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-29T11:09:32</CreateDate>
    <NodeName Default="Honning Fra Tvingsbakken 2022" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lsmjrpuh/honning-fra-tvingsbakken-2022.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>