<?xml version="1.0" encoding="utf-8"?>
<Media Key="c4f39bff-0c36-419e-91b1-442544501ab2" Alias="IMG 0465" Level="3">
  <Info>
    <Parent Key="fa9f8e6b-d4fb-4563-a329-a4b16dbafaf2">Hjertestarter</Parent>
    <Path>/InfoImages/Hjertestarter/IMG0465</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-12-19T18:31:11</CreateDate>
    <NodeName Default="IMG 0465" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/5gnphrbw/img_0465.jpg","crops":[{"alias":"thumb","width":720,"height":540},{"alias":"full","width":1130,"height":848}]}]]></Value>
    </umbracoFile>
  </Properties>
</Media>