<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e9fe8ff-2a65-4c87-994a-29cbd3e203e5" Alias="Indkaldelse Generalforsamling 2019" Level="3">
  <Info>
    <Parent Key="dabbb3ac-e8d4-4554-ac97-28c34c7391f5">Referater</Parent>
    <Path>/Dokumenter/Referater/IndkaldelseGeneralforsamling2019</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2019-03-26T23:26:28</CreateDate>
    <NodeName Default="Indkaldelse Generalforsamling 2019" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1058/indkaldelse-generalforsamling-2019.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>