<?xml version="1.0" encoding="utf-8"?>
<Media Key="4634616b-aa75-438e-a9ab-e2a1b485ecb2" Alias="Info images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/InfoImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-04-22T23:36:22</CreateDate>
    <NodeName Default="Info images" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <contents>
      <Value><![CDATA[]]></Value>
    </contents>
  </Properties>
</Media>