<?xml version="1.0" encoding="utf-8"?>
<Media Key="611d613f-0981-4b82-bf93-afbeb29fce01" Alias="Jens" Level="2">
  <Info>
    <Parent Key="f579ae4e-8685-4fc1-84d2-d68364905094">Bestyrelsen</Parent>
    <Path>/Bestyrelsen/Jens</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-01-17T23:59:50</CreateDate>
    <NodeName Default="Jens" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1032/jens.jpg","crops":[]}]]></Value>
    </umbracoFile>
  </Properties>
</Media>