<?xml version="1.0" encoding="utf-8"?>
<Media Key="463ca5ff-26e8-416e-b255-35b62da2461a" Alias="Morgensvøm Folder Samlet" Level="3">
  <Info>
    <Parent Key="f6e2665b-b295-4abf-9c13-81ea049172b8">Andet</Parent>
    <Path>/Dokumenter/Andet/MorgensvoemFolderSamlet</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2019-04-22T23:42:46</CreateDate>
    <NodeName Default="Morgensvøm Folder Samlet" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1065/morgensvoem-folder-samlet.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>