<?xml version="1.0" encoding="utf-8"?>
<Media Key="dabbb3ac-e8d4-4554-ac97-28c34c7391f5" Alias="Referater" Level="2">
  <Info>
    <Parent Key="415e1345-e4bc-44e3-b1e8-4df79223a2a4">Dokumenter</Parent>
    <Path>/Dokumenter/Referater</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-01-21T22:52:06</CreateDate>
    <NodeName Default="Referater" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <contents>
      <Value><![CDATA[]]></Value>
    </contents>
  </Properties>
</Media>