<?xml version="1.0" encoding="utf-8"?>
<Media Key="29d3dea9-b940-45e9-8862-97afee28cbe4" Alias="Tvingsbakken 2019 Regnskab" Level="4">
  <Info>
    <Parent Key="46e6964a-4c77-49c1-b2a9-89a87dabc1c7">GF2020</Parent>
    <Path>/Dokumenter/Referater/GF2020/Tvingsbakken2019Regnskab</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-10-13T09:40:42</CreateDate>
    <NodeName Default="Tvingsbakken 2019 Regnskab" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/whpngkka/tvingsbakken-2019-regnskab.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>