<?xml version="1.0" encoding="utf-8"?>
<Media Key="8404be1e-ece8-4122-ab0d-33d23b1e45a0" Alias="Tvingsbakken 2019 Regnskab" Level="3">
  <Info>
    <Parent Key="dabbb3ac-e8d4-4554-ac97-28c34c7391f5">Referater</Parent>
    <Path>/Dokumenter/Referater/Tvingsbakken2019Regnskab</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-08-20T17:55:43</CreateDate>
    <NodeName Default="Tvingsbakken 2019 Regnskab" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/a05ajbhi/tvingsbakken-2019-regnskab.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>