<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f3a733d-f47f-48b1-ac0a-6f715da75710" Alias="Tvingsbakkens smukke træer" Level="2">
  <Info>
    <Parent Key="9ebb967a-e628-45a8-af98-1d771d36fcc6">Frontpage</Parent>
    <Path>/Frontpage/TvingsbakkensSmukkeTraeer</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-03-06T16:08:49</CreateDate>
    <NodeName Default="Tvingsbakkens smukke træer" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hnzdu515/tb1.jpg",
  "focalPoint": {
    "left": "0.4533333333333333",
    "top": "0.34105602809115393"
  },
  "crops": [
    {
      "alias": "thumb",
      "width": "720",
      "height": "540",
      "coordinates": null
    },
    {
      "alias": "full",
      "width": "1130",
      "height": "848",
      "coordinates": null
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>