<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="cab7941f-043d-447a-afa3-6f2a1986032a" Alias="road" Level="1">
  <Info>
    <Parent>GalleryFilter</Parent>
  </Info>
  <Translations>
    <Translation Language="da">Vejen</Translation>
    <Translation Language="en">The Road</Translation>
  </Translations>
</Dictionary>