<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7222ae88-3189-43b3-b2d7-3a4e8c7f7aae" Alias="wood" Level="1">
  <Info>
    <Parent>GalleryFilter</Parent>
  </Info>
  <Translations>
    <Translation Language="da">Skoven</Translation>
    <Translation Language="en">The Wood</Translation>
  </Translations>
</Dictionary>