<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9bcc6771-270c-47aa-907b-2e2e459251e4" Alias="all" Level="1">
  <Info>
    <Parent>GalleryFilter</Parent>
  </Info>
  <Translations>
    <Translation Language="da-DK">Alle</Translation>
    <Translation Language="en">All</Translation>
  </Translations>
</Dictionary>