<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="43dd7445-b976-4032-a488-5829c3d2b2ff" Alias="area" Level="1">
  <Info>
    <Parent>GalleryFilter</Parent>
  </Info>
  <Translations>
    <Translation Language="da-DK">Området</Translation>
    <Translation Language="en">The Area</Translation>
  </Translations>
</Dictionary>