<?xml version="1.0" encoding="utf-8"?>
<Media Key="e4dcc768-57b2-417a-9033-ab9c2f9c2fb4" Alias="20181014 140035 (1)" Level="3">
  <Info>
    <Parent Key="8c70dee7-a99d-418f-adb7-0585c13df8a2">Vejen</Parent>
    <Path>/Galleri/Vejen/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-02-07T23:27:42</CreateDate>
    <NodeName Default="20181014 140035 (1)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1045/20181014_140035.jpg","crops":[]}]]></Value>
    </umbracoFile>
  </Properties>
</Media>