<?xml version="1.0" encoding="utf-8"?>
<Media Key="ba75592d-df4e-42b1-aa74-e35ffecd4f4a" Alias="A4 Løsblad Håndværkertilbud" Level="3">
  <Info>
    <Parent Key="f6e2665b-b295-4abf-9c13-81ea049172b8">Andet</Parent>
    <Path>/Dokumenter/Andet/A4LosbladHandvaerkertilbud</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2019-04-22T23:42:44</CreateDate>
    <NodeName Default="A4 Løsblad Håndværkertilbud" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1064/a4-loesblad_haandvaerkertilbud.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>