<?xml version="1.0" encoding="utf-8"?>
<Media Key="2b8edcc8-444c-4b63-82bb-a151ef19f471" Alias="Anders Og Møllen" Level="2">
  <Info>
    <Parent Key="4634616b-aa75-438e-a9ab-e2a1b485ecb2">Info images</Parent>
    <Path>/InfoImages/AndersOgMollen</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-07-15T22:55:19</CreateDate>
    <NodeName Default="Anders Og Møllen" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1070/anders-og-moellen.jpg","crops":[{"alias":"thumb","width":720,"height":540},{"alias":"full","width":1130,"height":848}],"focalPoint":{"left":0.56,"top":0.46375}}]]></Value>
    </umbracoFile>
  </Properties>
</Media>