<?xml version="1.0" encoding="utf-8"?>
<Media Key="415e1345-e4bc-44e3-b1e8-4df79223a2a4" Alias="Dokumenter" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dokumenter</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-01-21T22:51:52</CreateDate>
    <NodeName Default="Dokumenter" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <contents>
      <Value><![CDATA[]]></Value>
    </contents>
  </Properties>
</Media>