<?xml version="1.0" encoding="utf-8"?>
<Media Key="cba03f91-e073-4e7a-a35a-df256fcb442c" Alias="Galleri" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Galleri</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-02-07T23:25:44</CreateDate>
    <NodeName Default="Galleri" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <contents>
      <Value><![CDATA[]]></Value>
    </contents>
  </Properties>
</Media>