<?xml version="1.0" encoding="utf-8"?>
<Media Key="b7908e8c-17e0-4675-bbfc-013f122c3338" Alias="Grundejerforeningen Tvingsbakken Vedtaegter 20170517" Level="3">
  <Info>
    <Parent Key="ac114b64-6942-436c-90cd-479458a0fe1d">Generale</Parent>
    <Path>/Dokumenter/Generale/GrundejerforeningenTvingsbakkenVedtaegter20170517</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2019-01-21T23:30:18</CreateDate>
    <NodeName Default="Grundejerforeningen Tvingsbakken Vedtaegter 20170517" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1040/grundejerforeningen-tvingsbakken-vedtaegter-20170517.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>