<?xml version="1.0" encoding="utf-8"?>
<Media Key="023ff63e-e790-405e-9565-c5371bf0d33b" Alias="Hasse" Level="2">
  <Info>
    <Parent Key="f579ae4e-8685-4fc1-84d2-d68364905094">Bestyrelsen</Parent>
    <Path>/Bestyrelsen/Hasse</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-02-19T22:42:07</CreateDate>
    <NodeName Default="Hasse" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1052/hasse.jpg","crops":[{"alias":"thumb","width":720,"height":540},{"alias":"full","width":1130,"height":848}]}]]></Value>
    </umbracoFile>
  </Properties>
</Media>