<?xml version="1.0" encoding="utf-8"?>
<Media Key="132d5725-bcbd-478a-893e-331783936f5f" Alias="Hegnsloven 05" Level="3">
  <Info>
    <Parent Key="f6e2665b-b295-4abf-9c13-81ea049172b8">Andet</Parent>
    <Path>/Dokumenter/Andet/Hegnsloven05</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-04-15T00:18:40</CreateDate>
    <NodeName Default="Hegnsloven 05" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hvld0e33/hegnsloven-05.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>