<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa9f8e6b-d4fb-4563-a329-a4b16dbafaf2" Alias="Hjertestarter" Level="2">
  <Info>
    <Parent Key="4634616b-aa75-438e-a9ab-e2a1b485ecb2">Info images</Parent>
    <Path>/InfoImages/Hjertestarter</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-12-19T18:30:51</CreateDate>
    <NodeName Default="Hjertestarter" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <contents>
      <Value><![CDATA[]]></Value>
    </contents>
  </Properties>
</Media>