<?xml version="1.0" encoding="utf-8"?>
<Media Key="509179a9-095c-4d1b-bbbd-0416b7902de3" Alias="Hjertestarter Fra Siden" Level="3">
  <Info>
    <Parent Key="fa9f8e6b-d4fb-4563-a329-a4b16dbafaf2">Hjertestarter</Parent>
    <Path>/InfoImages/Hjertestarter/HjertestarterFraSiden</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-12-22T23:26:41</CreateDate>
    <NodeName Default="Hjertestarter Fra Siden" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/v32jcuc2/hjertestarter-fra-siden.png","crops":[{"alias":"thumb","width":720,"height":540},{"alias":"full","width":1130,"height":848}]}]]></Value>
    </umbracoFile>
  </Properties>
</Media>