<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a0a1b9f-141b-427b-a17e-aa976d3c5152" Alias="Hjertestarter Indersiden Mini" Level="3">
  <Info>
    <Parent Key="fa9f8e6b-d4fb-4563-a329-a4b16dbafaf2">Hjertestarter</Parent>
    <Path>/InfoImages/Hjertestarter/HjertestarterIndersidenMini</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-12-22T23:38:13</CreateDate>
    <NodeName Default="Hjertestarter Indersiden Mini" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/tenbvcq1/hjertestarter-indersiden-mini.png","crops":[{"alias":"thumb","width":720,"height":540},{"alias":"full","width":1130,"height":848}]}]]></Value>
    </umbracoFile>
  </Properties>
</Media>