<?xml version="1.0" encoding="utf-8"?>
<Media Key="e292c145-a0de-413f-aa9d-212828f32905" Alias="Morgensvømning" Level="2">
  <Info>
    <Parent Key="4634616b-aa75-438e-a9ab-e2a1b485ecb2">Info images</Parent>
    <Path>/InfoImages/Morgensvomning</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-04-27T22:13:00</CreateDate>
    <NodeName Default="Morgensvømning" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1067/morgensvoemning.png","crops":[{"alias":"thumb","width":720,"height":540},{"alias":"full","width":1130,"height":848}]}]]></Value>
    </umbracoFile>
  </Properties>
</Media>