<?xml version="1.0" encoding="utf-8"?>
<Media Key="32b0ad0c-5702-4014-832d-6ea71b955d93" Alias="Partiel Byplanvedtægt Nr 15" Level="3">
  <Info>
    <Parent Key="ac114b64-6942-436c-90cd-479458a0fe1d">Generale</Parent>
    <Path>/Dokumenter/Generale/PartielByplanvedtaegtNr15</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2019-01-21T23:37:15</CreateDate>
    <NodeName Default="Partiel Byplanvedtægt Nr 15" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1041/partiel-byplanvedtaegt-nr-15.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>