<?xml version="1.0" encoding="utf-8"?>
<Media Key="1193dcfa-3016-4aa4-8dd7-fd07dc17e008" Alias="Personsilo" Level="2">
  <Info>
    <Parent Key="f579ae4e-8685-4fc1-84d2-d68364905094">Bestyrelsen</Parent>
    <Path>/Bestyrelsen/Personsilo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-01-18T00:00:20</CreateDate>
    <NodeName Default="Personsilo" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1034/personsilo.png","crops":[]}]]></Value>
    </umbracoFile>
  </Properties>
</Media>