<?xml version="1.0" encoding="utf-8"?>
<Media Key="e0f6a337-b195-41ca-8a5d-b3fdd72fd476" Alias="Tvingsbakken 2018 Regnskab" Level="3">
  <Info>
    <Parent Key="dabbb3ac-e8d4-4554-ac97-28c34c7391f5">Referater</Parent>
    <Path>/Dokumenter/Referater/Tvingsbakken2018Regnskab</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2019-03-26T23:28:52</CreateDate>
    <NodeName Default="Tvingsbakken 2018 Regnskab" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1060/tvingsbakken-2018-regnskab.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>