<?xml version="1.0" encoding="utf-8"?>
<DataType Key="018e0ec8-d804-4874-a655-91cb72d5efb2" Alias="Contact - Your Address - Terratype" Level="1">
  <Info>
    <Name>Contact - Your Address - Terratype</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>