<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f5264d17-afc1-4070-a0b6-c0b205890bfe" Alias="Home - Design - Media Picker" Level="1">
  <Info>
    <Name>Home - Design - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DisableFolderSelect": true,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "OnlyImages": true,
  "StartNodeId": "umb://media/b6f11172373f4473af0f0b0e5aefd21c"
}]]></Config>
</DataType>