<?xml version="1.0" encoding="utf-8"?>
<DataType Key="627368f6-eeab-4adb-aa53-cc2dbef11bc2" Alias="Home - Images - Nested Content" Level="1">
  <Info>
    <Name>Home - Images - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "feature",
      "ncTabAlias": "Feature",
      "nameTemplate": ""
    }
  ],
  "MinItems": 0,
  "MaxItems": 0,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>