<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dfab9a27-67d3-4dba-ac91-3a70f9faadfe" Alias="People - Featured People - Multinode Treepicker" Level="1">
  <Info>
    <Name>People - Featured People - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "person",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 9,
  "MinNumber": 0,
  "ShowOpen": true,
  "TreeSource": {
    "id": null,
    "query": "$current",
    "type": "content"
  }
}]]></Config>
</DataType>