<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c63ba300-f879-40e9-86cb-2e9401f64e16" Alias="Person - Photo - Media Picker" Level="1">
  <Info>
    <Name>Person - Photo - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": true,
  "StartNodeId": "umb://media/f579ae4e86854fc184d2d68364905094",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>