<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7be9c497-f700-465c-af86-082220fa4deb" Alias="Person - Phone - Textbox" Level="1">
  <Info>
    <Name>Person - Phone - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 15
}]]></Config>
</DataType>