<?xml version="1.0" encoding="utf-8"?>
<Content Key="fa91965e-4394-4691-b4d7-f54e21e3f6ff" Alias="Anders og møllen" Level="3">
  <Info>
    <Parent Key="7f19f011-823f-47f0-9c90-7c86d53b156c">Billeder</Parent>
    <Path>/Hjem/Billeder/AndersOgMoellen</Path>
    <Trashed>false</Trashed>
    <ContentType>galleryImage</ContentType>
    <CreateDate>2019-10-07T23:23:59</CreateDate>
    <NodeName Default="Anders og møllen" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <dateTaken>
      <Value><![CDATA[2015-08-23T00:00:00]]></Value>
    </dateTaken>
    <description>
      <Value><![CDATA[Anders Kæmpe på en af mølledagene i 2015 på Pibe møllen]]></Value>
    </description>
    <filter>
      <Value><![CDATA[[
  "area"
]]]></Value>
    </filter>
    <image>
      <Value><![CDATA[{
  "focalPoint": {
    "left": "0.5",
    "top": "0.5"
  },
  "src": "/media/1071/anders-og-moellen.jpg",
  "crops": [
    {
      "alias": "thumb",
      "width": "720",
      "height": "540"
    },
    {
      "alias": "full",
      "width": "1130",
      "height": "848"
    }
  ]
}]]></Value>
    </image>
    <photograph>
      <Value><![CDATA[Kim Steen Vangskjær]]></Value>
    </photograph>
    <title>
      <Value><![CDATA[Anders og møllen]]></Value>
    </title>
  </Properties>
</Content>