<?xml version="1.0" encoding="utf-8"?>
<Content Key="14f62e66-98e4-4595-a4d0-d02becdf596a" Alias="Beskæring af buske og træer langs vejen" Level="3">
  <Info>
    <Parent Key="1cb33e0a-400a-4938-9547-b05a35739b8b">Info</Parent>
    <Path>/Hjem/Info/BeskaeringAfBuskeOgTraeerLangsVejen</Path>
    <Trashed>false</Trashed>
    <ContentType>blogpost</ContentType>
    <CreateDate>2019-09-04T23:39:38</CreateDate>
    <NodeName Default="Beskæring af buske og træer langs vejen" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4d895734-c96f-429a-b996-862872bf2dfc">Blogpost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Full Width",
          "areas": [
            {
              "grid": "12",
              "allowAll": "False",
              "allowed": [
                "media",
                "embed",
                "headline",
                "rte",
                "macro"
              ],
              "hasConfig": "False",
              "controls": [
                {
                  "value": "<p>Kære beboere <br /><br />Husk at det er grundejerens pligt at beskære langs med vejen ind til skel.<br /><br />Som det er, skal der være frit</p>\n<ul>\n<li>minimum 4,20 m over vejen.</li>\n<li>minimum 2,80 m over græsrabat/fortov til skel.</li>\n</ul>\n<p>Her er Gribskob kommunes regler for beskæring langs vejen.<br /><a rel=\"noopener\" href=\"https://www.gribskov.dk/borger/natur-miljoe-og-trafik/trafik-og-veje/beskaering-langs-vejen/\" target=\"_blank\" data-saferedirecturl=\"https://www.google.com/url?q=https://www.gribskov.dk/borger/natur-miljoe-og-trafik/trafik-og-veje/beskaering-langs-vejen/&amp;source=gmail&amp;ust=1567718997279000&amp;usg=AFQjCNF8Lgs5WvKu-2hMImlO_AbBjUYptQ\">https://www.gribskov.dk/borger/natur-miljoe-og-trafik/trafik-og-veje/beskaering-langs-vejen/</a><br /><br /><br /></p>\n<p>Med venlig hilsen</p>\n<p>Bstyrelsen</p>\n<p> </p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": "True"
                }
              ],
              "hasActiveChild": "True",
              "active": "True"
            }
          ],
          "hasConfig": "False",
          "id": "6edfc2c4-c950-6bb2-8665-5ede1c483308",
          "hasActiveChild": "True",
          "active": "True"
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <browserTitle>
      <Value><![CDATA[Beskæring langs vej]]></Value>
    </browserTitle>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <excerpt>
      <Value><![CDATA[Husk at det er grundejerens pligt at beskære langs med vejen ind til skel.]]></Value>
    </excerpt>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <pageTitle>
      <Value><![CDATA[Beskæring af buske og træer langs vejen]]></Value>
    </pageTitle>
    <publishDate>
      <Value><![CDATA[2019-09-19T00:00:00]]></Value>
    </publishDate>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <someDescription>
      <Value><![CDATA[]]></Value>
    </someDescription>
    <someImage>
      <Value><![CDATA[]]></Value>
    </someImage>
    <someTitle>
      <Value><![CDATA[]]></Value>
    </someTitle>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>