<?xml version="1.0" encoding="utf-8"?>
<Content Key="7f19f011-823f-47f0-9c90-7c86d53b156c" Alias="Billeder" Level="2">
  <Info>
    <Parent Key="156f1933-e327-4dce-b665-110d62720d03">Hjem</Parent>
    <Path>/Hjem/Billeder</Path>
    <Trashed>false</Trashed>
    <ContentType>gallery</ContentType>
    <CreateDate>2019-02-07T23:24:12</CreateDate>
    <NodeName Default="Billeder" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="36ffa0fa-8fcb-44c3-b772-ec8e156721c7">Gallery</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <browserTitle>
      <Value><![CDATA[Billeder fra bakken]]></Value>
    </browserTitle>
    <keywords>
      <Value><![CDATA[["Billeder","Tvingsbakken"]]]></Value>
    </keywords>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <pageTitle>
      <Value><![CDATA[Billeder]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[Billeder fra Tvingsbakken]]></Value>
    </seoMetaDescription>
    <someDescription>
      <Value><![CDATA[]]></Value>
    </someDescription>
    <someImage>
      <Value><![CDATA[]]></Value>
    </someImage>
    <someTitle>
      <Value><![CDATA[]]></Value>
    </someTitle>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>