<?xml version="1.0" encoding="utf-8"?>
<Content Key="38ff8a38-4c08-44ab-a4ef-82eea216bc4c" Alias="Buslinje 380R" Level="3">
  <Info>
    <Parent Key="1cb33e0a-400a-4938-9547-b05a35739b8b">Info</Parent>
    <Path>/Hjem/Info/Buslinje380R</Path>
    <Trashed>false</Trashed>
    <ContentType>blogpost</ContentType>
    <CreateDate>2020-04-30T23:55:18</CreateDate>
    <NodeName Default="Buslinje 380R" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4d895734-c96f-429a-b996-862872bf2dfc">Blogpost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Full Width",
          "id": "a1e87562-c395-2b0b-c8df-bb9a0d8ef0e2",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<p>Kære alle</p>\n<p>Region Hovedstaden har fremlagt forslag om besparelser på den kollektive <br />trafik. En del af besparelserne går på at spare rute 380 R væk.<br /><br /><a rel=\"noopener noreferrer\" href=\"https://sn.dk/Gribskov/Politikere-protesterer-mod-bus-spareplan/artikel/936182\" target=\"_blank\" data-saferedirecturl=\"https://www.google.com/url?q=https://sn.dk/Gribskov/Politikere-protesterer-mod-bus-spareplan/artikel/936182&amp;source=gmail&amp;ust=1588368776739000&amp;usg=AFQjCNG7Tlf4jsB7Cyll6Jj6lKPwUNwNdA\">https://sn.dk/Gribskov/Politikere-protesterer-mod-bus-spareplan/artikel/936182</a><br /><br />Annisse lokalråd håber på jeres opbakning med indlæg på FB-gruppen Annisse Allerbedst <br /><a href=\"https://www.facebook.com/groups/832033007316867/\">https://www.facebook.com/groups/832033007316867/</a></p>\n<p>Med venlig hilsen<br /><br />Bestyrelse</p>\n<p> </p>\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <browserTitle>
      <Value><![CDATA[]]></Value>
    </browserTitle>
    <categories>
      <Value><![CDATA[Info]]></Value>
    </categories>
    <excerpt>
      <Value><![CDATA[Buslinje 380R i fare for nedlæggelse]]></Value>
    </excerpt>
    <keywords>
      <Value><![CDATA[["Buslinje,380R,nedlæggelse"]]]></Value>
    </keywords>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <pageTitle>
      <Value><![CDATA[Buslinje 380R]]></Value>
    </pageTitle>
    <publishDate>
      <Value><![CDATA[2020-04-30T00:00:00]]></Value>
    </publishDate>
    <seoMetaDescription>
      <Value><![CDATA[Buslinje 380R nedlæggelse]]></Value>
    </seoMetaDescription>
    <someDescription>
      <Value><![CDATA[]]></Value>
    </someDescription>
    <someImage>
      <Value><![CDATA[]]></Value>
    </someImage>
    <someTitle>
      <Value><![CDATA[]]></Value>
    </someTitle>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>