<?xml version="1.0" encoding="utf-8"?>
<Content Key="744e18b0-a817-4c3a-9733-762f3326ae67" Alias="Efterårsstemning vejen midt" Level="3">
  <Info>
    <Parent Key="7f19f011-823f-47f0-9c90-7c86d53b156c">Billeder</Parent>
    <Path>/Hjem/Billeder/EfteraarsstemningVejenMidt</Path>
    <Trashed>false</Trashed>
    <ContentType>galleryImage</ContentType>
    <CreateDate>2019-03-03T23:18:49</CreateDate>
    <NodeName Default="Efterårsstemning vejen midt" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <dateTaken>
      <Value><![CDATA[2018-10-14T00:00:00]]></Value>
    </dateTaken>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <filter>
      <Value><![CDATA[[
  "road",
  "wood"
]]]></Value>
    </filter>
    <image>
      <Value><![CDATA[{
  "focalPoint": {
    "left": "0.5116666666666667",
    "top": "0.7071005917159763"
  },
  "src": "/media/1056/20181014_141151.jpg",
  "crops": [
    {
      "alias": "thumb",
      "width": "720",
      "height": "540"
    },
    {
      "alias": "full",
      "width": "1130",
      "height": "848"
    }
  ]
}]]></Value>
    </image>
    <photograph>
      <Value><![CDATA[Kim Steen Vangskjær]]></Value>
    </photograph>
    <title>
      <Value><![CDATA[Efterårsstemning vejen midt]]></Value>
    </title>
  </Properties>
</Content>