<?xml version="1.0" encoding="utf-8"?>
<Content Key="a337827a-16fc-42c2-9462-3363555c888e" Alias="Fastelavn på Tvingsbakken 2022" Level="3">
  <Info>
    <Parent Key="1cb33e0a-400a-4938-9547-b05a35739b8b">Info</Parent>
    <Path>/Hjem/Info/FastelavnPaTvingsbakken2022</Path>
    <Trashed>false</Trashed>
    <ContentType>blogpost</ContentType>
    <CreateDate>2022-02-17T11:23:22</CreateDate>
    <NodeName Default="Fastelavn på Tvingsbakken 2022" />
    <SortOrder>23</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4d895734-c96f-429a-b996-862872bf2dfc">Blogpost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Article",
          "id": "38da5642-14f4-47ff-a532-c9c3ad973ce7",
          "areas": [
            {
              "grid": "4",
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1304,
                    "udi": "umb://media/402f49fa4b8e424fa8962988ad62957a",
                    "image": "/media/5red4qeo/fastelavnstønde.png"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "8",
              "controls": [
                {
                  "value": "<p><strong>Grundejerforeningen Tvingsbakken</strong> inviterer til fastelavn i nr. 26<br /><strong>Søndag den 27. februar kl. 11.00</strong><br />Vi serverer fastelavnsboller, hotdogs, kakao, kaffe og the.<br />Der er en tønde til de mindre børn og en til de større.<br />Vi glæder os til et par hyggelige timer. Alle er velkomne både med og uden børn.<br /><br /><em>Husk at svare senest d. 25 februar til e-mail <a href=\"mailto:laf@hotmail.dk\">laf@hotmail.dk</a> eller slip i postkassen</em><br /><br />Vel mødt udklædte som ikke udklædte :-)<br /><br /></p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <browserTitle>
      <Value><![CDATA[Fastelavn på Tvingsbakken 2022]]></Value>
    </browserTitle>
    <categories>
      <Value><![CDATA[Fastelavn]]></Value>
    </categories>
    <excerpt>
      <Value><![CDATA[Fastelavn på Tvingsbakken i nr 26 - Søndag d. 27 febuar kl 11.00]]></Value>
    </excerpt>
    <keywords>
      <Value><![CDATA[["Fastelavn","2022"]]]></Value>
    </keywords>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <pageTitle>
      <Value><![CDATA[Fastelavn på Tvingsbakken 2022]]></Value>
    </pageTitle>
    <publishDate>
      <Value><![CDATA[2022-02-17T00:00:00]]></Value>
    </publishDate>
    <seoMetaDescription>
      <Value><![CDATA[Fastelavn på Tvingsbakken 2022]]></Value>
    </seoMetaDescription>
    <someDescription>
      <Value><![CDATA[Kom til tøndeslagning - Grundejerforeningen Tvingsbakken
Søndag den 27. februar kl. 11.00
Der serverer fastelavnsboller, hotdogs, kakao, kaffe og the.
Der er en tønde til de mindre børn og en til de større.
Alle er velkomne både med og uden børn.

]]></Value>
    </someDescription>
    <someImage>
      <Value><![CDATA[umb://media/402f49fa4b8e424fa8962988ad62957a]]></Value>
    </someImage>
    <someTitle>
      <Value><![CDATA[Fastelavn på Tvingsbakken 2022]]></Value>
    </someTitle>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>