<?xml version="1.0" encoding="utf-8"?>
<Content Key="75b46022-0e86-4da0-ad58-7f21b68a733b" Alias="Forslag til Råstofplan 2016/2020" Level="3">
  <Info>
    <Parent Key="1cb33e0a-400a-4938-9547-b05a35739b8b">Info</Parent>
    <Path>/Hjem/Info/ForslagTilRastofplan20162020</Path>
    <Trashed>false</Trashed>
    <ContentType>blogpost</ContentType>
    <CreateDate>2020-10-18T23:06:38</CreateDate>
    <NodeName Default="Forslag til Råstofplan 2016/2020" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4d895734-c96f-429a-b996-862872bf2dfc">Blogpost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Full Width",
          "id": "2d31246b-f835-a4e1-cb88-55f8f693c25e",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<p><strong>Region Hovedstaden har forlagt et forslag til Råstofplan 2016/2020.</strong></p>\n<p>Flere område i nærheden af Annisse Nord er berørt også området langs Ryagergårdsvej og den nederste del af Tvingsbakken ligger op af et område.<br />Se nedenstående billede.</p>\n<p>Den fulde plan findes her<br /><a href=\"https://rh.viewer.dkplan.niras.dk/plan/17#/\">https://rh.viewer.dkplan.niras.dk/plan/17#/</a></p>\n<p>Endvidere er der et høringsmøde d. 19 okt. 2020 kl 16-18<br />Fokus er Fredensborg, Gribskov, Helsingør<br /><a href=\"https://www.regionh.dk/miljoe/raastoffer/R%C3%A5stofplanen/Sider/Borgerm%C3%B8der-om-forslag-til-ny-R%C3%A5stofplan-bliver-virtuelle.aspx\">https://www.regionh.dk/miljoe/raastoffer/R%C3%A5stofplanen/Sider/Borgerm%C3%B8der-om-forslag-til-ny-R%C3%A5stofplan-bliver-virtuelle.aspx</a></p>\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "id": 1249,
                    "udi": "umb://media/989d482c69294c52bb6878fc4dfa453c",
                    "image": "/media/fjej1gbj/2020-10-18_22h56_31.png"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <browserTitle>
      <Value><![CDATA[Forslag til Råstofplan]]></Value>
    </browserTitle>
    <categories>
      <Value><![CDATA[Råstofplan,Info]]></Value>
    </categories>
    <excerpt>
      <Value><![CDATA[Borgermøde om forslag til Råstofplan
Mandag d. 19 okt. 2020]]></Value>
    </excerpt>
    <keywords>
      <Value><![CDATA[["Råstof"]]]></Value>
    </keywords>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <pageTitle>
      <Value><![CDATA[Borgermøde om forslag til Råstofplan]]></Value>
    </pageTitle>
    <publishDate>
      <Value><![CDATA[2020-10-13T00:00:00]]></Value>
    </publishDate>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <someDescription>
      <Value><![CDATA[]]></Value>
    </someDescription>
    <someImage>
      <Value><![CDATA[]]></Value>
    </someImage>
    <someTitle>
      <Value><![CDATA[]]></Value>
    </someTitle>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>