<?xml version="1.0" encoding="utf-8"?>
<Content Key="efc83ec8-82db-40cf-9b71-740f58960eaf" Alias="Fyrtræer ved første stikvej" Level="3">
  <Info>
    <Parent Key="7f19f011-823f-47f0-9c90-7c86d53b156c">Billeder</Parent>
    <Path>/Hjem/Billeder/FyrtraeerVedFoersteStikvej</Path>
    <Trashed>false</Trashed>
    <ContentType>galleryImage</ContentType>
    <CreateDate>2019-02-16T08:20:42</CreateDate>
    <NodeName Default="Fyrtræer ved første stikvej" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <dateTaken>
      <Value><![CDATA[2018-10-14T00:00:00]]></Value>
    </dateTaken>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <filter>
      <Value><![CDATA[[
  "wood"
]]]></Value>
    </filter>
    <image>
      <Value><![CDATA[{
  "focalPoint": {
    "left": "0.5066666666666667",
    "top": "0.5088757396449705"
  },
  "src": "/media/1048/20181014_140714.jpg",
  "crops": [
    {
      "alias": "thumb",
      "width": "720",
      "height": "540"
    },
    {
      "alias": "full",
      "width": "1130",
      "height": "848",
      "coordinates": {
        "x1": "0.21820459905660378",
        "y1": "0",
        "x2": "0.03223761792452825",
        "y2": "0"
      }
    }
  ]
}]]></Value>
    </image>
    <photograph>
      <Value><![CDATA[Kim Steen Vangskjær]]></Value>
    </photograph>
    <title>
      <Value><![CDATA[Fyrtræer ved første stikvej]]></Value>
    </title>
  </Properties>
</Content>