<?xml version="1.0" encoding="utf-8"?>
<Content Key="fbc7bbae-a976-439a-8799-294a2ccd239f" Alias="Generalforsamling 2020 udskudt" Level="3">
  <Info>
    <Parent Key="1cb33e0a-400a-4938-9547-b05a35739b8b">Info</Parent>
    <Path>/Hjem/Info/Generalforsamling2020Udskudt</Path>
    <Trashed>false</Trashed>
    <ContentType>blogpost</ContentType>
    <CreateDate>2020-03-25T17:51:06</CreateDate>
    <NodeName Default="Generalforsamling 2020 udskudt" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4d895734-c96f-429a-b996-862872bf2dfc">Blogpost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Full Width",
          "id": "023c484c-e5bd-2e61-637b-6fe55e28b2a5",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<p>Kære beboer på Tvingsbakken</p>\n<p>Generalforsamlingen, der normalt skulle have været afholdt i april, for grundejerforening Tvingsbakken, er hermed udskudt på ubestemt tid.<br />P.g.a. den nuværende Corona situation.</p>\n<p>Vi vender hurtigt tilbage så snart vi har en dato.</p>\n<p>Pbv<br /><br />/Niels Seehusen - Formand.</p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <browserTitle>
      <Value><![CDATA[Generalforsamling april 2020 udskudt]]></Value>
    </browserTitle>
    <categories>
      <Value><![CDATA[Vigtig]]></Value>
    </categories>
    <excerpt>
      <Value><![CDATA[Generalforsamlingen april 2020 er udskudt til ubestemt tid.
Vi vender hurtigt tilbage så snart vi har en dato.]]></Value>
    </excerpt>
    <keywords>
      <Value><![CDATA[[
  "Generalforsamling, 2020, udskudt"
]]]></Value>
    </keywords>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <pageTitle>
      <Value><![CDATA[Generalforsamling 2020 udskudt]]></Value>
    </pageTitle>
    <publishDate>
      <Value><![CDATA[2020-03-25T00:00:00]]></Value>
    </publishDate>
    <seoMetaDescription>
      <Value><![CDATA[Generalforsamling april 2020 udskudt udskudt p.g.a. corona situationen]]></Value>
    </seoMetaDescription>
    <someDescription>
      <Value><![CDATA[]]></Value>
    </someDescription>
    <someImage>
      <Value><![CDATA[]]></Value>
    </someImage>
    <someTitle>
      <Value><![CDATA[]]></Value>
    </someTitle>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>