<?xml version="1.0" encoding="utf-8"?>
<Content Key="23dca8e9-d496-4507-8726-dc06ecc5962f" Alias="Hasse Hansson" Level="3">
  <Info>
    <Parent Key="5582ae2f-efa8-422f-a9c9-7ff1c9e8dd85">Bestyrelsen</Parent>
    <Path>/Hjem/Bestyrelsen/HasseHansson</Path>
    <Trashed>false</Trashed>
    <ContentType>person</ContentType>
    <CreateDate>2019-01-17T22:56:30</CreateDate>
    <NodeName Default="Hasse Hansson" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7a468f7a-6864-4c91-af23-04897e8c28aa">Person</Template>
  </Info>
  <Properties>
    <browserTitle>
      <Value><![CDATA[]]></Value>
    </browserTitle>
    <description>
      <Value><![CDATA[<p>Tvingsbakken 29</p>]]></Value>
    </description>
    <elected>
      <Value><![CDATA[Valgt: 2022-2024]]></Value>
    </elected>
    <email>
      <Value><![CDATA[hasse.hansson.dk@gmail.com]]></Value>
    </email>
    <facebookUsername>
      <Value><![CDATA[]]></Value>
    </facebookUsername>
    <instagramUsername>
      <Value><![CDATA[circuitbeard]]></Value>
    </instagramUsername>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <linkedInUsername>
      <Value><![CDATA[]]></Value>
    </linkedInUsername>
    <memberType>
      <Value><![CDATA[Kasserer]]></Value>
    </memberType>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <phone>
      <Value><![CDATA[+45 2923 4546]]></Value>
    </phone>
    <photo>
      <Value><![CDATA[umb://media/023ff63ee790405e9565c5371bf0d33b]]></Value>
    </photo>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <someDescription>
      <Value><![CDATA[]]></Value>
    </someDescription>
    <someImage>
      <Value><![CDATA[]]></Value>
    </someImage>
    <someTitle>
      <Value><![CDATA[]]></Value>
    </someTitle>
    <twitterUsername>
      <Value><![CDATA[mattbrailsford]]></Value>
    </twitterUsername>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>