<?xml version="1.0" encoding="utf-8"?>
<Content Key="156f1933-e327-4dce-b665-110d62720d03" Alias="Hjem" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Hjem</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2019-01-17T22:56:30</CreateDate>
    <NodeName Default="Hjem">
      <Name Culture="da-dk">Hjem</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="da-dk">true</Published>
    </Published>
    <Schedule />
    <Template Key="1eb0fa6a-e640-48d2-b8d3-42505671fe0f">Home</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value Culture="da-dk"><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Full Width",
          "id": "cbb67dcf-dc82-700a-617f-84e754458e6a",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <browserTitle>
      <Value><![CDATA[]]></Value>
    </browserTitle>
    <carousel>
      <Value Culture="da-dk"><![CDATA[[{"key":"5e745e4a-573d-4cf0-ae60-938d9894aa31","name":"Velkommen til Grundejerforeningen Tvingsbakken","ncContentTypeAlias":"picture","PropType":null,"title":"Velkommen til Grundejerforeningen Tvingsbakken","description":"Vi har fået en hjemmeside","image":"umb://media/31a9f68ea0f446a785caa86c775b583a"}]]]></Value>
    </carousel>
    <footerAddress>
      <Value Culture="da-dk"><![CDATA[Tvingsbakken Grundejerforening]]></Value>
    </footerAddress>
    <footerCTACaption>
      <Value Culture="da-dk"><![CDATA[Seneste info]]></Value>
    </footerCTACaption>
    <FooterCtalink>
      <Value Culture="da-dk"><![CDATA[umb://document/1cb33e0a400a49389547b05a35739b8b]]></Value>
    </FooterCtalink>
    <footerDescription>
      <Value Culture="da-dk"><![CDATA[Grundejerforening Tvingsbakken - Annisse Nord
Dette er grundejerforening Tvingsbakkens hjemmeside.]]></Value>
    </footerDescription>
    <footerHeader>
      <Value Culture="da-dk"><![CDATA[Grundejerforening Tvingsbakken]]></Value>
    </footerHeader>
    <heroCTACaption>
      <Value Culture="da-dk"><![CDATA[Se seneste info]]></Value>
    </heroCTACaption>
    <heroDescription>
      <Value Culture="da-dk"><![CDATA[Grundejerforeningen Tvingsbakken]]></Value>
    </heroDescription>
    <heroHeader>
      <Value Culture="da-dk"><![CDATA[Grundejerforeningen Tvingsbakken]]></Value>
    </heroHeader>
    <keywords>
      <Value><![CDATA[["Grundejerforening","Tvingsbakken","Annisse","Annisse Nord"]]]></Value>
    </keywords>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <seoMetaDescription>
      <Value><![CDATA[Dette er Grundejerforeningen Tvingsbakken hjemmeside. 
Hvor du kan finde infomation om hvad der sker på Tvingsbakken, regler m.v.]]></Value>
    </seoMetaDescription>
    <sitename>
      <Value Culture="da-dk"><![CDATA[Grundejerforeningen Tvingsbakken]]></Value>
    </sitename>
    <someDescription>
      <Value><![CDATA[Dette er Grundejerforeningen Tvingsbakken hjemmeside. Hvor du kan finde infomation om hvad der sker på Tvingsbakken m.v.]]></Value>
    </someDescription>
    <someImage>
      <Value><![CDATA[umb://media/7f3a733df47f48b1ac0a6f715da75710]]></Value>
    </someImage>
    <someTitle>
      <Value><![CDATA[Grundejerforeningen Tvingsbakken]]></Value>
    </someTitle>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>