<?xml version="1.0" encoding="utf-8"?>
<Content Key="7204f295-2369-49aa-99f9-cad69dd39bd5" Alias="Hjertestarter ved Tvingsbakken" Level="3">
  <Info>
    <Parent Key="1cb33e0a-400a-4938-9547-b05a35739b8b">Info</Parent>
    <Path>/Hjem/Info/HjertestarterVedTvingsbakken</Path>
    <Trashed>false</Trashed>
    <ContentType>blogpost</ContentType>
    <CreateDate>2020-12-27T00:08:23</CreateDate>
    <NodeName Default="Hjertestarter ved Tvingsbakken" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4d895734-c96f-429a-b996-862872bf2dfc">Blogpost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Article",
          "id": "3daa1441-2b22-75d0-f400-5d5b1f0dced4",
          "areas": [
            {
              "grid": "4",
              "controls": [
                {
                  "value": {
                    "id": 1273,
                    "udi": "umb://media/5222c8218a7d497cbfcd7aac027addae",
                    "image": "/media/e5eceut3/skilt-mini.png"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "8",
              "controls": [
                {
                  "value": "<div>Tvingsbakken har fået en hjertestarter. Den er blevet placeret på Tvingsbakken 26 på indersiden af carporten</div>\n<div>Der er en stemmeguide med i hjertestarteren og den er med er placeret i et køle/varme skab for beskyttelse mod varme og frost.</div>\n<div></div>\n<div>Bemærk at hjertestarteren er placeret lige bag ved hjertestarter skiltet på indersiden af carporten - Beskyttet mod sollys.</div>\n<div></div>\n<div>Ønsker du at læse mere, kan du få mere information på følgende side. <br /><a rel=\"noopener\" href=\"/hjertestarter/\" target=\"_blank\" data-saferedirecturl=\"https://www.google.com/url?q=https://tvingsbakken.org/hjertestarter/&amp;source=gmail&amp;ust=1609110301272000&amp;usg=AFQjCNE1TQlg5rCSeDyIP8_PCWpObas-fA\">https://tvingsbakken.org/hjertestarter/</a></div>\n<div></div>\n<div></div>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <browserTitle>
      <Value><![CDATA[Hjertestarter ved Tvingsbakken]]></Value>
    </browserTitle>
    <categories>
      <Value><![CDATA[Info]]></Value>
    </categories>
    <excerpt>
      <Value><![CDATA[Tvingbakken har fået en hjertestarter, som er placeret ved nummer 26.]]></Value>
    </excerpt>
    <keywords>
      <Value><![CDATA[["hjertestarter"]]]></Value>
    </keywords>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <pageTitle>
      <Value><![CDATA[Hjertestarter ved Tvingsbakken]]></Value>
    </pageTitle>
    <publishDate>
      <Value><![CDATA[2020-12-23T00:00:00]]></Value>
    </publishDate>
    <seoMetaDescription>
      <Value><![CDATA[Tvingbakken har fået en hjertestarter]]></Value>
    </seoMetaDescription>
    <someDescription>
      <Value><![CDATA[Hjertestarteren er placeret ved]]></Value>
    </someDescription>
    <someImage>
      <Value><![CDATA[umb://media/7f3144f3344f425aad7c9edb9be467d0]]></Value>
    </someImage>
    <someTitle>
      <Value><![CDATA[Tvingbakken har fået en hjertestarter]]></Value>
    </someTitle>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>