<?xml version="1.0" encoding="utf-8"?>
<Content Key="1cb33e0a-400a-4938-9547-b05a35739b8b" Alias="Info" Level="2">
  <Info>
    <Parent Key="156f1933-e327-4dce-b665-110d62720d03">Hjem</Parent>
    <Path>/Hjem/Info</Path>
    <Trashed>false</Trashed>
    <ContentType>blog</ContentType>
    <CreateDate>2019-01-17T22:56:31</CreateDate>
    <NodeName Default="Info" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="28514382-3f91-42f5-83fd-129fd30a05e0">Blog</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <browserTitle>
      <Value><![CDATA[Tvingsbakken nyheder]]></Value>
    </browserTitle>
    <disqusShortname>
      <Value><![CDATA[Her finder du seneste nyt, info og meget andet. ]]></Value>
    </disqusShortname>
    <howManyPostsShouldBeShown>
      <Value><![CDATA[6]]></Value>
    </howManyPostsShouldBeShown>
    <keywords>
      <Value><![CDATA[[
  "nyheder",
  "Tvingsbakken"
]]]></Value>
    </keywords>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <pageTitle>
      <Value><![CDATA[Nyheder og info]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[Her kan du finde de seneste nyheder om hvad der sker på Tvingsbakken]]></Value>
    </seoMetaDescription>
    <someDescription>
      <Value><![CDATA[]]></Value>
    </someDescription>
    <someImage>
      <Value><![CDATA[]]></Value>
    </someImage>
    <someTitle>
      <Value><![CDATA[]]></Value>
    </someTitle>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>