<?xml version="1.0" encoding="utf-8"?>
<Content Key="44c58a9d-b60d-4001-b9f3-d7783000caa0" Alias="Kim Steen Vangskjær" Level="3">
  <Info>
    <Parent Key="5582ae2f-efa8-422f-a9c9-7ff1c9e8dd85">Bestyrelsen</Parent>
    <Path>/Hjem/Bestyrelsen/KimSteenVangskjaer</Path>
    <Trashed>false</Trashed>
    <ContentType>person</ContentType>
    <CreateDate>2019-01-17T22:56:30</CreateDate>
    <NodeName Default="Kim Steen Vangskjær" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7a468f7a-6864-4c91-af23-04897e8c28aa">Person</Template>
  </Info>
  <Properties>
    <browserTitle>
      <Value><![CDATA[]]></Value>
    </browserTitle>
    <description>
      <Value><![CDATA[<p>Tvingsbakken 47</p>]]></Value>
    </description>
    <elected>
      <Value><![CDATA[Valgt: 2021-2023]]></Value>
    </elected>
    <email>
      <Value><![CDATA[kim@vangskjaer.com]]></Value>
    </email>
    <facebookUsername>
      <Value><![CDATA[]]></Value>
    </facebookUsername>
    <instagramUsername>
      <Value><![CDATA[]]></Value>
    </instagramUsername>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <linkedInUsername>
      <Value><![CDATA[]]></Value>
    </linkedInUsername>
    <memberType>
      <Value><![CDATA[Menigt medlem]]></Value>
    </memberType>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <phone>
      <Value><![CDATA[+45 9395 9887]]></Value>
    </phone>
    <photo>
      <Value><![CDATA[umb://media/ec5ea02a3e404b1a8e9b5c2d6e1ada72]]></Value>
    </photo>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <someDescription>
      <Value><![CDATA[]]></Value>
    </someDescription>
    <someImage>
      <Value><![CDATA[]]></Value>
    </someImage>
    <someTitle>
      <Value><![CDATA[]]></Value>
    </someTitle>
    <twitterUsername>
      <Value><![CDATA[]]></Value>
    </twitterUsername>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>