<?xml version="1.0" encoding="utf-8"?>
<Content Key="bb6f3ea1-6f18-4a27-a463-714822d36032" Alias="Lars Frank" Level="3">
  <Info>
    <Parent Key="5582ae2f-efa8-422f-a9c9-7ff1c9e8dd85">Bestyrelsen</Parent>
    <Path>/Hjem/Bestyrelsen/LarsFrank</Path>
    <Trashed>false</Trashed>
    <ContentType>person</ContentType>
    <CreateDate>2019-01-17T22:56:30</CreateDate>
    <NodeName Default="Lars Frank" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <browserTitle>
      <Value><![CDATA[]]></Value>
    </browserTitle>
    <description>
      <Value><![CDATA[<p>Tvingsbakken 26</p>]]></Value>
    </description>
    <elected>
      <Value><![CDATA[Valgt: 2022-2024]]></Value>
    </elected>
    <email>
      <Value><![CDATA[laf@hotmail.dk]]></Value>
    </email>
    <facebookUsername>
      <Value><![CDATA[]]></Value>
    </facebookUsername>
    <instagramUsername>
      <Value><![CDATA[]]></Value>
    </instagramUsername>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <linkedInUsername>
      <Value><![CDATA[]]></Value>
    </linkedInUsername>
    <memberType>
      <Value><![CDATA[Menigt medlem]]></Value>
    </memberType>
    <noFollow>
      <Value><![CDATA[1]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[1]]></Value>
    </noIndex>
    <phone>
      <Value><![CDATA[+45 4021 2526]]></Value>
    </phone>
    <photo>
      <Value><![CDATA[]]></Value>
    </photo>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <someDescription>
      <Value><![CDATA[]]></Value>
    </someDescription>
    <someImage>
      <Value><![CDATA[]]></Value>
    </someImage>
    <someTitle>
      <Value><![CDATA[]]></Value>
    </someTitle>
    <twitterUsername>
      <Value><![CDATA[]]></Value>
    </twitterUsername>
    <umbracoNavihide>
      <Value><![CDATA[1]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>