<?xml version="1.0" encoding="utf-8"?>
<Content Key="3ddfc6e9-424d-4e11-b4e1-4f9ecb3f5810" Alias="Møllevinge - Mølledagene 2015" Level="3">
  <Info>
    <Parent Key="7f19f011-823f-47f0-9c90-7c86d53b156c">Billeder</Parent>
    <Path>/Hjem/Billeder/MollevingeMolledagene2015</Path>
    <Trashed>false</Trashed>
    <ContentType>galleryImage</ContentType>
    <CreateDate>2019-10-07T23:50:05</CreateDate>
    <NodeName Default="Møllevinge - Mølledagene 2015" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <dateTaken>
      <Value><![CDATA[2015-08-23T00:00:00]]></Value>
    </dateTaken>
    <description>
      <Value><![CDATA[Møllevinge - Mølledag søndag d. 23-08-2015 2015]]></Value>
    </description>
    <filter>
      <Value><![CDATA[["area"]]]></Value>
    </filter>
    <image>
      <Value><![CDATA[{"focalPoint":{"left":0.49666666666666665,"top":0.42666666666666669},"src":"/media/1072/moelledag2015.jpg","crops":[{"alias":"thumb","width":720,"height":540},{"alias":"full","width":1130,"height":848}]}]]></Value>
    </image>
    <photograph>
      <Value><![CDATA[Kim Steen Vangskjær]]></Value>
    </photograph>
    <title>
      <Value><![CDATA[Møllevinge - Mølledagene 2015]]></Value>
    </title>
  </Properties>
</Content>