<?xml version="1.0" encoding="utf-8"?>
<Content Key="7eedc1b4-b045-4084-8174-9588146ac012" Alias="Ny hjemmeside" Level="3">
  <Info>
    <Parent Key="1cb33e0a-400a-4938-9547-b05a35739b8b">Info</Parent>
    <Path>/Hjem/Info/NyHjemmeside</Path>
    <Trashed>false</Trashed>
    <ContentType>blogpost</ContentType>
    <CreateDate>2019-01-17T22:56:31</CreateDate>
    <NodeName Default="Ny hjemmeside" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4d895734-c96f-429a-b996-862872bf2dfc">Blogpost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Full Width",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media",
                "embed",
                "headline",
                "rte",
                "macro"
              ],
              "config": null,
              "styles": null,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>Tvingsbakken Grundejerforenings har fået en hjemmeside. Vi håber at kunne give informationer fremover herfra. <br />Informationer om f.eks dokumenter som vedtægter, referater, indkaldelser og meget andet. Informationer om kommende indkaldelse til f.eks, generalforsamling, fastelavn og vejfest. Input fra medlemmerne i stort som småt. kort sagt alt hvad der kan informeres om.</p>\n<p>Desuden fortælle lidt om Tvingsbakken fra før og nu.</p>\n<p>Tag godt imod den og kom gerne med input og nye tiltag.<br /><br /></p>\n<p>Med venlig hilsen<br />Bestyrelsen<br />Grundejerforeningen Tvingsbakken</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "styles": null,
                  "config": null,
                  "active": true
                }
              ],
              "hasActiveChild": true,
              "active": true
            }
          ],
          "styles": null,
          "config": null,
          "hasConfig": false,
          "id": "4dc695d1-336c-0733-399e-0dda19d61c36",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <browserTitle>
      <Value><![CDATA[Ny hjemmeside]]></Value>
    </browserTitle>
    <categories>
      <Value><![CDATA[Info]]></Value>
    </categories>
    <excerpt>
      <Value><![CDATA[Grundejerforening Tvingsbakken har fået en hjemmeside]]></Value>
    </excerpt>
    <keywords>
      <Value><![CDATA[["Hjemmeside,Info"]]]></Value>
    </keywords>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <pageTitle>
      <Value><![CDATA[Ny hjemmeside]]></Value>
    </pageTitle>
    <publishDate>
      <Value><![CDATA[2019-01-17T00:00:00]]></Value>
    </publishDate>
    <seoMetaDescription>
      <Value><![CDATA[Grundejerforening Tvingsbakken har fået en nye hjemmeside.]]></Value>
    </seoMetaDescription>
    <someDescription>
      <Value><![CDATA[]]></Value>
    </someDescription>
    <someImage>
      <Value><![CDATA[]]></Value>
    </someImage>
    <someTitle>
      <Value><![CDATA[]]></Value>
    </someTitle>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>