<?xml version="1.0" encoding="utf-8"?>
<Content Key="34dbb2cf-491a-4471-b173-0418faffbb54" Alias="Pibe mølle oktober 2019" Level="3">
  <Info>
    <Parent Key="7f19f011-823f-47f0-9c90-7c86d53b156c">Billeder</Parent>
    <Path>/Hjem/Billeder/PibeMoelleOktober2019</Path>
    <Trashed>false</Trashed>
    <ContentType>galleryImage</ContentType>
    <CreateDate>2019-10-07T23:52:57</CreateDate>
    <NodeName Default="Pibe mølle oktober 2019" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <dateTaken>
      <Value><![CDATA[2019-10-06T00:00:00]]></Value>
    </dateTaken>
    <description>
      <Value><![CDATA[Pibe mølle oktober 2019]]></Value>
    </description>
    <filter>
      <Value><![CDATA[[
  "area"
]]]></Value>
    </filter>
    <image>
      <Value><![CDATA[{
  "focalPoint": {
    "left": "0.5116666666666667",
    "top": "0.5266272189349113"
  },
  "src": "/media/1073/20191006_171339.jpg",
  "crops": [
    {
      "alias": "thumb",
      "width": "720",
      "height": "540"
    },
    {
      "alias": "full",
      "width": "1130",
      "height": "848"
    }
  ]
}]]></Value>
    </image>
    <photograph>
      <Value><![CDATA[Kim Steen Vangskjær]]></Value>
    </photograph>
    <title>
      <Value><![CDATA[Pibe mølle oktober 2019]]></Value>
    </title>
  </Properties>
</Content>