<?xml version="1.0" encoding="utf-8"?>
<Content Key="3c1140f5-4a9e-45bc-acc7-39bf828bfca9" Alias="Sæt kryds i kalenderen" Level="3">
  <Info>
    <Parent Key="1cb33e0a-400a-4938-9547-b05a35739b8b">Info</Parent>
    <Path>/Hjem/Info/SaetKrydsIKalenderen</Path>
    <Trashed>false</Trashed>
    <ContentType>blogpost</ContentType>
    <CreateDate>2021-07-04T09:20:27</CreateDate>
    <NodeName Default="Sæt kryds i kalenderen" />
    <SortOrder>25</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4d895734-c96f-429a-b996-862872bf2dfc">Blogpost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Full Width",
          "id": "924156cd-4a55-412f-8a0c-57ef6944ecd3",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<p>D. 20. september kl. 20.00 afholdes der generalforsamling i grundejerforeningen Tvingsbakken i Annisse forsamlingshus.<br /><br /><strong>Så husk at sætte kryds i kalenderen.</strong><br /><br />Nærmere info følger senere.</p>\n<p>Med venlig hilsen<br />Bestyrelsen</p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <browserTitle>
      <Value><![CDATA[Sæt kryds i kalenderen]]></Value>
    </browserTitle>
    <categories>
      <Value><![CDATA[Generalforsamling,2021]]></Value>
    </categories>
    <excerpt>
      <Value><![CDATA[D. 20. september kl. 20.00 afholdes der generalforsamling i grundejerforeningen Tvingsbakken
Nærmere info følger senere.

Med venlig hilsen
Bestyrelsen]]></Value>
    </excerpt>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <pageTitle>
      <Value><![CDATA[Sæt kryds i kalenderen]]></Value>
    </pageTitle>
    <publishDate>
      <Value><![CDATA[2021-06-29T00:00:00]]></Value>
    </publishDate>
    <seoMetaDescription>
      <Value><![CDATA[Sæt kryds i kalenderen d. 20. sep. kl 20.
]]></Value>
    </seoMetaDescription>
    <someDescription>
      <Value><![CDATA[Sæt kryds i kalenderen d. 20 sep kl 20.
]]></Value>
    </someDescription>
    <someImage>
      <Value><![CDATA[]]></Value>
    </someImage>
    <someTitle>
      <Value><![CDATA[Sæt kryds i kalenderen]]></Value>
    </someTitle>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>