<?xml version="1.0" encoding="utf-8"?>
<Content Key="24c1fcd2-c869-47aa-8447-e2accc8faa8f" Alias="Vejen midtvejs en eftersårsdag øst" Level="3">
  <Info>
    <Parent Key="7f19f011-823f-47f0-9c90-7c86d53b156c">Billeder</Parent>
    <Path>/Hjem/Billeder/VejenMidtvejsEnEftersaarsdagOest</Path>
    <Trashed>false</Trashed>
    <ContentType>galleryImage</ContentType>
    <CreateDate>2019-02-18T22:41:28</CreateDate>
    <NodeName Default="Vejen midtvejs en eftersårsdag øst" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <dateTaken>
      <Value><![CDATA[2018-10-14T00:00:00]]></Value>
    </dateTaken>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <filter>
      <Value><![CDATA[[
  "road"
]]]></Value>
    </filter>
    <image>
      <Value><![CDATA[{
  "focalPoint": {
    "left": "0.5",
    "top": "0.5"
  },
  "src": "/media/1049/20181014_140236.jpg",
  "crops": [
    {
      "alias": "thumb",
      "width": "720",
      "height": "540"
    },
    {
      "alias": "full",
      "width": "1130",
      "height": "848",
      "coordinates": {
        "x1": "0.03331367924528302",
        "y1": "0",
        "x2": "0.217128537735849",
        "y2": "0"
      }
    }
  ]
}]]></Value>
    </image>
    <photograph>
      <Value><![CDATA[Kim Steen Vangskjær]]></Value>
    </photograph>
    <title>
      <Value><![CDATA[Vejen midtvejs en eftersårsdag - Øst]]></Value>
    </title>
  </Properties>
</Content>