<?xml version="1.0" encoding="utf-8"?>
<Content Key="4a630baf-6eda-43f1-9e9d-6cb65b681984" Alias="xmlsitemap" Level="2">
  <Info>
    <Parent Key="156f1933-e327-4dce-b665-110d62720d03">Hjem</Parent>
    <Path>/Hjem/xmlsitemap</Path>
    <Trashed>false</Trashed>
    <ContentType>siteMap</ContentType>
    <CreateDate>2020-03-03T13:54:06</CreateDate>
    <NodeName Default="xmlsitemap" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="97359d42-76f8-4774-bf37-8afe381033dc">siteMap</Template>
  </Info>
  <Properties />
</Content>