<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="723108f8-ea80-4de1-ab44-afe9962ed99c" Alias="errorPage500" Level="2">
  <Info>
    <Name>500 Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="a757434c-abcf-4b0f-8a2a-a5d54745065c">contentPage</Parent>
    <Compositions>
      <Composition Key="a757434c-abcf-4b0f-8a2a-a5d54745065c">contentPage</Composition>
    </Compositions>
    <DefaultTemplate>ErrorPage500</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f5872f48-f1c9-48f9-990a-2ad96f198900">ErrorPage500</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>