<?xml version="1.0" encoding="utf-8"?>
<User Key="ffffffff-0000-0000-0000-000000000000" Alias="kim@vangskjaer.com">
  <Info>
    <Comments />
    <Name>Kim Vangskjær</Name>
    <Username>kim@vangskjaer.com</Username>
    <Email>kim@vangskjaer.com</Email>
    <EmailConfirmed />
    <FailedAttempts>0</FailedAttempts>
    <Approved>true</Approved>
    <LockedOut>false</LockedOut>
    <Language>en-US</Language>
    <RawPassword>AQAAAAEAACcQAAAAEP/JufZGsxZc+Xn9trORf8JJd+pJpKcZM/jtEQ9M1pqIDg1e/0mAtzj+0EroisBgTA==</RawPassword>
  </Info>
  <Groups>
    <Group>
      <Alias>admin</Alias>
    </Group>
    <Group>
      <Alias>sensitiveData</Alias>
    </Group>
  </Groups>
</User>