<?xml version="1.0" encoding="utf-8"?>
<Media Key="976146f4-1876-481d-a347-b876e9720068" Alias="20181014 140035" Level="3">
  <Info>
    <Parent Key="8c70dee7-a99d-418f-adb7-0585c13df8a2">Vejen</Parent>
    <Path>/Galleri/Vejen/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-02-07T23:27:15</CreateDate>
    <NodeName Default="20181014 140035" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1044/20181014_140035.jpg",
  "crops": []
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>