<?xml version="1.0" encoding="utf-8"?>
<Media Key="5f85354b-4ca6-4a47-87b4-2cf0025dd84c" Alias="A4 Løsblad Morgensvømning" Level="3">
  <Info>
    <Parent Key="f6e2665b-b295-4abf-9c13-81ea049172b8">Andet</Parent>
    <Path>/Dokumenter/Andet/A4LoesbladMorgensvoemning</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2019-04-22T23:42:41</CreateDate>
    <NodeName Default="A4 Løsblad Morgensvømning" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1063/a4-loesblad_morgensvoemning.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>