<?xml version="1.0" encoding="utf-8"?>
<Media Key="199dfdb3-7fe7-4a2b-bcb3-215ae27d5552" Alias="Affald" Level="2">
  <Info>
    <Parent Key="4634616b-aa75-438e-a9ab-e2a1b485ecb2">Info images</Parent>
    <Path>/InfoImages/Affald</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-23T23:06:20</CreateDate>
    <NodeName Default="Affald" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wx4j0gph/affald.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>