<?xml version="1.0" encoding="utf-8"?>
<Media Key="f6e2665b-b295-4abf-9c13-81ea049172b8" Alias="Andet" Level="2">
  <Info>
    <Parent Key="415e1345-e4bc-44e3-b1e8-4df79223a2a4">Dokumenter</Parent>
    <Path>/Dokumenter/Andet</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-01-21T23:26:25</CreateDate>
    <NodeName Default="Andet" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <contents>
      <Value><![CDATA[]]></Value>
    </contents>
  </Properties>
</Media>