<?xml version="1.0" encoding="utf-8"?>
<Media Key="f8cf3199-3419-4c5f-b699-2140cc13a4a3" Alias="Annisse Nord" Level="3">
  <Info>
    <Parent Key="f6e2665b-b295-4abf-9c13-81ea049172b8">Andet</Parent>
    <Path>/Dokumenter/Andet/AnnisseNord</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-02-02T23:14:34</CreateDate>
    <NodeName Default="Annisse Nord" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qeyn54az/annisse-nord.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>