<?xml version="1.0" encoding="utf-8"?>
<Media Key="048536b1-586e-4b39-9c3b-e7538dac57dc" Alias="Annisse Fjernvarme Flyer" Level="4">
  <Info>
    <Parent Key="42d39918-f3e4-43ca-b579-4fbf1e7f8232">Fjernvarme i Annisse</Parent>
    <Path>/Dokumenter/Andet/FjernvarmeIAnnisse/AnnisseFjernvarmeFlyer</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-05-03T15:49:14</CreateDate>
    <NodeName Default="Annisse Fjernvarme Flyer" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ve1ikbdo/annisse-fjernvarme_flyer.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>