<?xml version="1.0" encoding="utf-8"?>
<Media Key="f579ae4e-8685-4fc1-84d2-d68364905094" Alias="Bestyrelsen" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Bestyrelsen</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-01-17T23:59:41</CreateDate>
    <NodeName Default="Bestyrelsen" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <contents>
      <Value><![CDATA[]]></Value>
    </contents>
  </Properties>
</Media>