<?xml version="1.0" encoding="utf-8"?>
<Media Key="317c11e8-878c-4d10-81d1-626de636d734" Alias="Budgetforslag 2020 (1)" Level="4">
  <Info>
    <Parent Key="46e6964a-4c77-49c1-b2a9-89a87dabc1c7">GF2020</Parent>
    <Path>/Dokumenter/Generalforsamlinger/GF2020/Budgetforslag20201</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-08-20T17:55:45</CreateDate>
    <NodeName Default="Budgetforslag 2020 (1)" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4aihymmm/budgetforslag-2020.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>