<?xml version="1.0" encoding="utf-8"?>
<Media Key="eccb7272-233e-4749-92b8-202b090a5711" Alias="Budgetforslag 2022" Level="4">
  <Info>
    <Parent Key="88f50dac-541b-47aa-9da7-7b7a3d974b4b">GF2022</Parent>
    <Path>/Dokumenter/Generalforsamlinger/GF2022/Budgetforslag2022</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-04-01T22:00:51</CreateDate>
    <NodeName Default="Budgetforslag 2022" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/njzmx1b4/budgetforslag_2022.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>