<?xml version="1.0" encoding="utf-8"?>
<Media Key="10bc3bbb-e85c-475c-a85d-b692d0b4e05d" Alias="Budgetforslag 2020" Level="4">
  <Info>
    <Parent Key="46e6964a-4c77-49c1-b2a9-89a87dabc1c7">GF2020</Parent>
    <Path>/Dokumenter/Referater/GF2020/Budgetforslag2020</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-10-13T09:40:42</CreateDate>
    <NodeName Default="Budgetforslag 2020" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/um3lyec2/budgetforslag-2020.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>