<?xml version="1.0" encoding="utf-8"?>
<Media Key="42d39918-f3e4-43ca-b579-4fbf1e7f8232" Alias="Fjernvarme i Annisse" Level="3">
  <Info>
    <Parent Key="f6e2665b-b295-4abf-9c13-81ea049172b8">Andet</Parent>
    <Path>/Dokumenter/Andet/FjernvarmeIAnnisse</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-05-03T15:48:12</CreateDate>
    <NodeName Default="Fjernvarme i Annisse" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <contents>
      <Value><![CDATA[]]></Value>
    </contents>
  </Properties>
</Media>