<?xml version="1.0" encoding="utf-8"?>
<Media Key="f37ece60-1759-4642-9490-c7f282043c7d" Alias="Formandsberetningen 2021 22" Level="4">
  <Info>
    <Parent Key="88f50dac-541b-47aa-9da7-7b7a3d974b4b">GF2022</Parent>
    <Path>/Dokumenter/Generalforsamlinger/GF2022/Formandsberetningen202122</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-04-01T22:00:52</CreateDate>
    <NodeName Default="Formandsberetningen 2021 22" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pdhh320z/formandsberetningen_2021-22.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>