<?xml version="1.0" encoding="utf-8"?>
<Media Key="3ad4960a-ef93-4106-94cc-7e0ac35d8491" Alias="Formandsberetningen 2022-23" Level="4">
  <Info>
    <Parent Key="edffc968-0ab8-4e6a-81b5-bea665991a8f">GF2023</Parent>
    <Path>/Dokumenter/Generalforsamlinger/GF2023/Formandsberetningen202223</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-04-05T08:18:13</CreateDate>
    <NodeName Default="Formandsberetningen 2022-23" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cklniout/formandsberetningen-2022-23.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>