<?xml version="1.0" encoding="utf-8"?>
<Media Key="493d128c-8a4d-490c-99d7-90c7c7ce219f" Alias="Formandsberetningen 2018 19" Level="3">
  <Info>
    <Parent Key="dabbb3ac-e8d4-4554-ac97-28c34c7391f5">Referater</Parent>
    <Path>/Dokumenter/Referater/Formandsberetningen201819</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2019-03-26T23:27:36</CreateDate>
    <NodeName Default="Formandsberetningen 2018 19" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1059/formandsberetningen-2018-19.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>