<?xml version="1.0" encoding="utf-8"?>
<Media Key="8140e218-cc22-42d3-b2ab-7b41ec1389ac" Alias="Formandsberetningen 2019 20" Level="4">
  <Info>
    <Parent Key="46e6964a-4c77-49c1-b2a9-89a87dabc1c7">GF2020</Parent>
    <Path>/Dokumenter/Referater/GF2020/Formandsberetningen201920</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-10-12T18:16:11</CreateDate>
    <NodeName Default="Formandsberetningen 2019 20" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/adrebajc/formandsberetningen-2019-20.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>