<?xml version="1.0" encoding="utf-8"?>
<Media Key="7fab07a6-0e5a-42eb-87a3-3fe983434c72" Alias="Formandsberetningen 2020 21" Level="4">
  <Info>
    <Parent Key="baf6c0eb-df8c-4b43-8058-eb68b135611b">GF2021</Parent>
    <Path>/Dokumenter/Referater/GF2021/Formandsberetningen202021</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2021-08-29T23:47:04</CreateDate>
    <NodeName Default="Formandsberetningen 2020 21" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xydlw500/formandsberetningen-2020-21.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>