<?xml version="1.0" encoding="utf-8"?>
<Media Key="9ebb967a-e628-45a8-af98-1d771d36fcc6" Alias="Frontpage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Frontpage</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-01-17T23:34:43</CreateDate>
    <NodeName Default="Frontpage" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <contents>
      <Value><![CDATA[]]></Value>
    </contents>
  </Properties>
</Media>