<?xml version="1.0" encoding="utf-8"?>
<Media Key="edffc968-0ab8-4e6a-81b5-bea665991a8f" Alias="GF2023" Level="3">
  <Info>
    <Parent Key="dabbb3ac-e8d4-4554-ac97-28c34c7391f5">Generalforsamlinger</Parent>
    <Path>/Dokumenter/Generalforsamlinger/GF2023</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-04-05T08:13:14</CreateDate>
    <NodeName Default="GF2023" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <contents>
      <Value><![CDATA[]]></Value>
    </contents>
  </Properties>
</Media>