<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb931f5f-1620-41db-aeaf-1e7f5d8a17cb" Alias="GF2019" Level="3">
  <Info>
    <Parent Key="dabbb3ac-e8d4-4554-ac97-28c34c7391f5">Generalforsamlinger</Parent>
    <Path>/Dokumenter/Generalforsamlinger/GF2019</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-06-04T14:06:50</CreateDate>
    <NodeName Default="GF2019" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <contents>
      <Value><![CDATA[]]></Value>
    </contents>
  </Properties>
</Media>