<?xml version="1.0" encoding="utf-8"?>
<Media Key="88f50dac-541b-47aa-9da7-7b7a3d974b4b" Alias="GF2022" Level="3">
  <Info>
    <Parent Key="dabbb3ac-e8d4-4554-ac97-28c34c7391f5">Generalforsamlinger</Parent>
    <Path>/Dokumenter/Generalforsamlinger/GF2022</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-04-01T21:59:03</CreateDate>
    <NodeName Default="GF2022" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <contents>
      <Value><![CDATA[]]></Value>
    </contents>
  </Properties>
</Media>