<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac2018cb-9bf8-4660-b390-9cbb8bb8cced" Alias="GF2018" Level="3">
  <Info>
    <Parent Key="dabbb3ac-e8d4-4554-ac97-28c34c7391f5">Generalforsamlinger</Parent>
    <Path>/Dokumenter/Generalforsamlinger/GF2018</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-06-04T14:09:27</CreateDate>
    <NodeName Default="GF2018" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <contents>
      <Value><![CDATA[]]></Value>
    </contents>
  </Properties>
</Media>