<?xml version="1.0" encoding="utf-8"?>
<Media Key="dafa7bc6-d210-4023-ba3d-50021ccabdfa" Alias="Hjertestarter Indersiden" Level="3">
  <Info>
    <Parent Key="fa9f8e6b-d4fb-4563-a329-a4b16dbafaf2">Hjertestarter</Parent>
    <Path>/InfoImages/Hjertestarter/HjertestarterIndersiden</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-12-22T23:27:39</CreateDate>
    <NodeName Default="Hjertestarter Indersiden" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yb3pvwqq/hjertestarter-indersiden.png",
  "crops": [
    {
      "alias": "thumb",
      "width": "720",
      "height": "540"
    },
    {
      "alias": "full",
      "width": "1130",
      "height": "848"
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>