<?xml version="1.0" encoding="utf-8"?>
<Media Key="ff6b7dfd-4b73-4092-953f-90463fe8c1e2" Alias="Hjertestarter Skilt" Level="3">
  <Info>
    <Parent Key="fa9f8e6b-d4fb-4563-a329-a4b16dbafaf2">Hjertestarter</Parent>
    <Path>/InfoImages/Hjertestarter/HjertestarterSkilt</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-12-22T23:28:37</CreateDate>
    <NodeName Default="Hjertestarter Skilt" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5n4hx51t/hjertestarter-skilt.png",
  "crops": [
    {
      "alias": "thumb",
      "width": "720",
      "height": "540"
    },
    {
      "alias": "full",
      "width": "1130",
      "height": "848"
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>