<?xml version="1.0" encoding="utf-8"?>
<Media Key="d29ff188-795c-46ce-8671-a9dc1083993f" Alias="Høringssvar Vores Gribskov" Level="4">
  <Info>
    <Parent Key="d9282530-c663-4cfe-8ce8-964849e4aef7">Teglværksgrunden</Parent>
    <Path>/Dokumenter/Andet/Teglvaerksgrunden/HoeringssvarVoresGribskov</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-01-29T11:07:04</CreateDate>
    <NodeName Default="Høringssvar Vores Gribskov" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sdyj5us2/hoeringssvar_vores-gribskov_15012023.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>