<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e9fe8ff-2a65-4c87-994a-29cbd3e203e5" Alias="Indkaldelse Generalforsamling 2019" Level="4">
  <Info>
    <Parent Key="cb931f5f-1620-41db-aeaf-1e7f5d8a17cb">GF2019</Parent>
    <Path>/Dokumenter/Generalforsamlinger/GF2019/IndkaldelseGeneralforsamling2019</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2019-03-26T23:26:28</CreateDate>
    <NodeName Default="Indkaldelse Generalforsamling 2019" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1058/indkaldelse-generalforsamling-2019.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>