<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e1210c2-13c2-49b5-ac67-254bf44b78bb" Alias="Indkaldelse Generalforsamling 2020" Level="4">
  <Info>
    <Parent Key="46e6964a-4c77-49c1-b2a9-89a87dabc1c7">GF2020</Parent>
    <Path>/Dokumenter/Referater/GF2020/IndkaldelseGeneralforsamling2020</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-10-13T09:40:43</CreateDate>
    <NodeName Default="Indkaldelse Generalforsamling 2020" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1iibexwc/indkaldelse-generalforsamling-2020.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>