<?xml version="1.0" encoding="utf-8"?>
<Media Key="303aa6f4-a565-498f-81cd-44f5a93b6367" Alias="Indkaldelse Generalforsamling 2023" Level="4">
  <Info>
    <Parent Key="edffc968-0ab8-4e6a-81b5-bea665991a8f">GF2023</Parent>
    <Path>/Dokumenter/Generalforsamlinger/GF2023/IndkaldelseGeneralforsamling2023</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-04-05T08:19:33</CreateDate>
    <NodeName Default="Indkaldelse Generalforsamling 2023" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3stdumdf/indkaldelse-generalforsamling-2023.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>