<?xml version="1.0" encoding="utf-8"?>
<Media Key="2aa2d731-83e6-4238-b6c8-59a731cc1e41" Alias="Indkaldelse Generalforsamling 2020" Level="3">
  <Info>
    <Parent Key="dabbb3ac-e8d4-4554-ac97-28c34c7391f5">Referater</Parent>
    <Path>/Dokumenter/Referater/IndkaldelseGeneralforsamling2020</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-08-20T17:55:46</CreateDate>
    <NodeName Default="Indkaldelse Generalforsamling 2020" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fhllekxg/indkaldelse-generalforsamling-2020.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>