<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec5ea02a-3e40-4b1a-8e9b-5c2d6e1ada72" Alias="Kim" Level="2">
  <Info>
    <Parent Key="f579ae4e-8685-4fc1-84d2-d68364905094">Bestyrelsen</Parent>
    <Path>/Bestyrelsen/Kim</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-01-18T00:00:09</CreateDate>
    <NodeName Default="Kim" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1033/kim.jpg",
  "crops": []
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>