<?xml version="1.0" encoding="utf-8"?>
<Media Key="c7959b34-5ad3-47d8-9ddd-8dc5022ee97d" Alias="Legepladsdag 30.April 2022" Level="2">
  <Info>
    <Parent Key="4634616b-aa75-438e-a9ab-e2a1b485ecb2">Info images</Parent>
    <Path>/InfoImages/Legepladsdag30April2022</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-04-27T22:46:40</CreateDate>
    <NodeName Default="Legepladsdag 30.April 2022" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fsnjlr4t/legepladsdag-30-april-2022.docx]]></Value>
    </umbracoFile>
  </Properties>
</Media>