<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d734f32-cd3a-4078-bf5a-1815ed9771ec" Alias="Martin" Level="2">
  <Info>
    <Parent Key="f579ae4e-8685-4fc1-84d2-d68364905094">Bestyrelsen</Parent>
    <Path>/Bestyrelsen/Martin</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-27T20:52:42</CreateDate>
    <NodeName Default="Martin" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/grhhg5j0/martin.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>