<?xml version="1.0" encoding="utf-8"?>
<Media Key="c74da433-7443-443d-985c-8f2dd10ff6f9" Alias="Notat Af Erik Klubien" Level="3">
  <Info>
    <Parent Key="f6e2665b-b295-4abf-9c13-81ea049172b8">Andet</Parent>
    <Path>/Dokumenter/Andet/NotatAfErikKlubien</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2019-02-02T23:52:17</CreateDate>
    <NodeName Default="Notat Af Erik Klubien" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1043/notat_af_erik_klubien.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>