<?xml version="1.0" encoding="utf-8"?>
<Media Key="e5f114df-79b1-4066-8a93-973f4f2764a8" Alias="ny-affaldssortering-brochure-1.0" Level="2">
  <Info>
    <Parent Key="4634616b-aa75-438e-a9ab-e2a1b485ecb2">Info images</Parent>
    <Path>/InfoImages/nyAffaldssorteringBrochure10</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-08-07T10:42:40</CreateDate>
    <NodeName Default="ny-affaldssortering-brochure-1.0" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/y2kpdznr/ny-affaldssortering-brochure-10.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>