<?xml version="1.0" encoding="utf-8"?>
<Media Key="b2a26fb9-3166-45f1-9476-24653d69268e" Alias="Rasmus" Level="2">
  <Info>
    <Parent Key="f579ae4e-8685-4fc1-84d2-d68364905094">Bestyrelsen</Parent>
    <Path>/Bestyrelsen/Rasmus</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-25T22:25:40</CreateDate>
    <NodeName Default="Rasmus" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/x3xlfmtg/rasmus.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>