<?xml version="1.0" encoding="utf-8"?>
<Media Key="ccb79c0b-90f0-4652-a63c-5330ffbd876b" Alias="Referat Ord Genforsamling 2018" Level="4">
  <Info>
    <Parent Key="ac2018cb-9bf8-4660-b390-9cbb8bb8cced">GF2018</Parent>
    <Path>/Dokumenter/Generalforsamlinger/GF2018/ReferatOrdGenforsamling2018</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2019-01-27T00:14:18</CreateDate>
    <NodeName Default="Referat Ord Genforsamling 2018" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1042/referat-ord-genforsamling-2018.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>