<?xml version="1.0" encoding="utf-8"?>
<Media Key="9cf06cb4-7924-4b7f-bee6-f82d7a4b2841" Alias="Referat Ord Genforsamling 2020" Level="4">
  <Info>
    <Parent Key="46e6964a-4c77-49c1-b2a9-89a87dabc1c7">GF2020</Parent>
    <Path>/Dokumenter/Generalforsamlinger/GF2020/ReferatOrdGenforsamling2020</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-10-14T10:16:35</CreateDate>
    <NodeName Default="Referat Ord Genforsamling 2020" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vrwpbhbe/referat-ord-genforsamling-2020.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>