<?xml version="1.0" encoding="utf-8"?>
<Media Key="da32ba45-164d-47f4-a3e7-06cde3beda66" Alias="Referat Af Generalforsamling 10 April 2019" Level="4">
  <Info>
    <Parent Key="cb931f5f-1620-41db-aeaf-1e7f5d8a17cb">GF2019</Parent>
    <Path>/Dokumenter/Generalforsamlinger/GF2019/ReferatAfGeneralforsamling10April2019</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2019-05-29T23:48:06</CreateDate>
    <NodeName Default="Referat Af Generalforsamling 10 April 2019" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1068/referat-af-generalforsamling-10-april-2019.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>