<?xml version="1.0" encoding="utf-8"?>
<Media Key="be7ea890-924a-4646-933e-ab07d99056d9" Alias="Referat - Ordinær generalforsamling 2023" Level="4">
  <Info>
    <Parent Key="edffc968-0ab8-4e6a-81b5-bea665991a8f">GF2023</Parent>
    <Path>/Dokumenter/Generalforsamlinger/GF2023/ReferatOrdinaerGeneralforsamling2023</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-06-04T14:05:53</CreateDate>
    <NodeName Default="Referat - Ordinær generalforsamling 2023" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rcuh3psk/referat-ord-genforsamling-2023.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>