<?xml version="1.0" encoding="utf-8"?>
<Media Key="d9282530-c663-4cfe-8ce8-964849e4aef7" Alias="Teglværksgrunden" Level="3">
  <Info>
    <Parent Key="f6e2665b-b295-4abf-9c13-81ea049172b8">Andet</Parent>
    <Path>/Dokumenter/Andet/Teglvaerksgrunden</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-01-29T11:05:40</CreateDate>
    <NodeName Default="Teglværksgrunden" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <contents>
      <Value><![CDATA[]]></Value>
    </contents>
  </Properties>
</Media>