<?xml version="1.0" encoding="utf-8"?>
<Media Key="4eec98cf-e160-4f96-a692-d02a4ab70fb4" Alias="Tvingsbakken 2021 Regnskab" Level="4">
  <Info>
    <Parent Key="88f50dac-541b-47aa-9da7-7b7a3d974b4b">GF2022</Parent>
    <Path>/Dokumenter/Generalforsamlinger/GF2022/Tvingsbakken2021Regnskab</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-04-01T22:00:50</CreateDate>
    <NodeName Default="Tvingsbakken 2021 Regnskab" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/04moytta/tvingsbakken_2021_regnskab.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>