<?xml version="1.0" encoding="utf-8"?>
<Media Key="e0f6a337-b195-41ca-8a5d-b3fdd72fd476" Alias="Tvingsbakken 2018 Regnskab" Level="4">
  <Info>
    <Parent Key="ac2018cb-9bf8-4660-b390-9cbb8bb8cced">GF2018</Parent>
    <Path>/Dokumenter/Generalforsamlinger/GF2018/Tvingsbakken2018Regnskab</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2019-03-26T23:28:52</CreateDate>
    <NodeName Default="Tvingsbakken 2018 Regnskab" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1060/tvingsbakken-2018-regnskab.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>