<?xml version="1.0" encoding="utf-8"?>
<Media Key="7995486d-a9f7-4523-981a-86b71456d4a6" Alias="Tvingsbakken 2022 regnskab" Level="4">
  <Info>
    <Parent Key="edffc968-0ab8-4e6a-81b5-bea665991a8f">GF2023</Parent>
    <Path>/Dokumenter/Generalforsamlinger/GF2023/Tvingsbakken2022Regnskab</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-04-05T08:18:45</CreateDate>
    <NodeName Default="Tvingsbakken 2022 regnskab" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ovejk4px/tvingsbakken-2022-regnskab.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>