<?xml version="1.0" encoding="utf-8"?>
<Media Key="be584235-f3b0-4334-bdb7-40f657278ce5" Alias="Tvingsbakkefolderen 2018" Level="3">
  <Info>
    <Parent Key="f6e2665b-b295-4abf-9c13-81ea049172b8">Andet</Parent>
    <Path>/Dokumenter/Andet/Tvingsbakkefolderen2018</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2019-01-21T23:28:17</CreateDate>
    <NodeName Default="Tvingsbakkefolderen 2018" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1039/tvingsbakkefolderen_2018.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>