<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e74e6d9-1a12-4fbb-8feb-c7996998bca0" Alias="Tvingsbakken folder 2023" Level="3">
  <Info>
    <Parent Key="f6e2665b-b295-4abf-9c13-81ea049172b8">Andet</Parent>
    <Path>/Dokumenter/Andet/TvingsbakkenFolder2023</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-06-21T08:42:00</CreateDate>
    <NodeName Default="Tvingsbakken folder 2023" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yhthilqs/tvingsbakkefolderen_2023.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>