<?xml version="1.0" encoding="utf-8"?>
<Media Key="11315db7-dd46-4e0f-8dee-c331be50dd05" Alias="Tvingsbakkefolderen 2020.Docx" Level="3">
  <Info>
    <Parent Key="ac114b64-6942-436c-90cd-479458a0fe1d">Generale</Parent>
    <Path>/Dokumenter/Generale/Tvingsbakkefolderen2020Docx</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-10-12T18:15:41</CreateDate>
    <NodeName Default="Tvingsbakkefolderen 2020.Docx" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/v3odcekg/tvingsbakkefolderen_2020-docx.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>