<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c70dee7-a99d-418f-adb7-0585c13df8a2" Alias="Vejen" Level="2">
  <Info>
    <Parent Key="cba03f91-e073-4e7a-a35a-df256fcb442c">Galleri</Parent>
    <Path>/Galleri/Vejen</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-02-07T23:26:00</CreateDate>
    <NodeName Default="Vejen" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <contents>
      <Value><![CDATA[]]></Value>
    </contents>
  </Properties>
</Media>