<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c535b55f-78dc-48c5-ac18-52f47e6d09af" Alias="Contact - Pick a Contact Form - Form Picker" Level="1">
  <Info>
    <Name>Contact - Pick a Contact Form - Form Picker</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>