<?xml version="1.0" encoding="utf-8"?>
<DataType Key="28e0c92d-3547-4346-99c4-8287d8a541b9" Alias="Home - Font - Radio button list" Level="1">
  <Info>
    <Name>Home - Font - Radio button list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 39,
      "value": "standard"
    },
    {
      "id": 40,
      "value": "serif"
    },
    {
      "id": 41,
      "value": "mono"
    }
  ]
}]]></Config>
</DataType>