<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d4fafb43-abf7-4703-bb5c-d2c7c67e26f2" Alias="Navigation Base - Browser Title - Textbox" Level="1">
  <Info>
    <Name>Navigation Base - Browser Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 70
}]]></Config>
</DataType>