<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7e50e970-c78f-47aa-8dae-348bcb838826" Alias="Person - Description - Textarea" Level="1">
  <Info>
    <Name>Person - Description - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>