<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4ec829ac-b986-4432-bc03-99649a4a552d" Alias="Blogpost - Categories - Tags" Level="1">
  <Info>
    <Name>Blogpost - Categories - Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Group": "default",
  "StorageType": 0,
  "Delimiter": "\u0000"
}]]></Config>
</DataType>