<?xml version="1.0" encoding="utf-8"?>
<DataType Key="71e1e182-da10-4280-aa35-800a8de19a32" Alias="Employee - Department - Tags" Level="1">
  <Info>
    <Name>Employee - Department - Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Group": "department",
  "StorageType": 0,
  "Delimiter": "\u0000"
}]]></Config>
</DataType>