<?xml version="1.0" encoding="utf-8"?>
<DataType Key="540faf98-37d2-43b5-9a83-1b6cfd1b5093" Alias="Home - Carousel - Nested Content" Level="1">
  <Info>
    <Name>Home - Carousel - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "picture",
      "ncTabAlias": "Data",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": 0,
  "MaxItems": 3,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>