<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f4084ca6-fc6c-40c7-ab0e-64888d7d869c" Alias="Home - Content - Grid layout" Level="1">
  <Info>
    <Name>Home - Content - Grid layout</Name>
    <EditorAlias>Umbraco.Grid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": {
    "styles": [],
    "config": [],
    "columns": 12,
    "templates": [
      {
        "name": "1 column layout",
        "sections": [
          {
            "grid": 12
          }
        ]
      }
    ],
    "layouts": [
      {
        "name": "Full Width",
        "areas": [
          {
            "grid": 12,
            "editors": [
              "headline"
            ],
            "allowAll": false,
            "allowed": [
              "media",
              "macro",
              "embed",
              "headline"
            ]
          }
        ]
      },
      {
        "name": "Half and half",
        "areas": [
          {
            "grid": 6,
            "allowAll": false,
            "allowed": [
              "rte",
              "media",
              "macro",
              "embed",
              "headline",
              "quote"
            ]
          },
          {
            "grid": 6,
            "allowAll": false,
            "allowed": [
              "rte",
              "media",
              "macro",
              "embed",
              "headline",
              "quote"
            ]
          }
        ]
      },
      {
        "name": "Testimonials",
        "areas": [
          {
            "grid": 4,
            "allowAll": true,
            "allowed": [
              "docType"
            ]
          },
          {
            "grid": 4,
            "allowAll": true,
            "allowed": [
              "docType"
            ]
          },
          {
            "grid": 4,
            "allowAll": true,
            "allowed": [
              "docType"
            ]
          }
        ]
      }
    ]
  },
  "Rte": {
    "toolbar": [
      "code",
      "styleselect",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link"
    ],
    "stylesheets": [],
    "dimensions": {
      "height": 500
    },
    "maxImageSize": 500
  },
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>