<?xml version="1.0" encoding="utf-8"?>
<DataType Key="91b47758-efb9-496a-84c6-818d0315d210" Alias="Navigation Base - No follow - Checkbox" Level="1">
  <Info>
    <Name>Navigation Base - No follow - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>