<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="42d45704-b391-47c8-82bb-9f6ca9bc8ad2" Alias="documents" Level="1">
  <Info>
    <Name>Documents</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="2dbf691e-ce5b-4452-acc5-4d2a0261cea4">contentBase</Composition>
      <Composition Key="5c928252-f789-4692-b513-563dd2b49b94">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>Documents</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2d12796f-86ca-4c6d-92fe-24974ebaef05">Documents</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="a757434c-abcf-4b0f-8a2a-a5d54745065c" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>