<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="eb0996a6-30c4-4636-8ee3-3bea2e2e2d83" Alias="ErrorPage400" Level="2">
  <Info>
    <Name>404 Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="a757434c-abcf-4b0f-8a2a-a5d54745065c">contentPage</Parent>
    <Compositions>
      <Composition Key="a757434c-abcf-4b0f-8a2a-a5d54745065c">contentPage</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="faacc8e2-d8c3-40d8-8e05-dfc6734c38ca">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>