<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="52b9beea-5512-40d4-be6c-017141bb1911" Alias="gallery" Level="1">
  <Info>
    <Name>Gallery</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="2dbf691e-ce5b-4452-acc5-4d2a0261cea4">contentBase</Composition>
      <Composition Key="5c928252-f789-4692-b513-563dd2b49b94">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>Gallery</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="36ffa0fa-8fcb-44c3-b772-ec8e156721c7">Gallery</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="664ce416-c60b-4096-92dd-cd442f4088e5" SortOrder="0">galleryImage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>