@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Documents>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";
    var startNode = Umbraco.Content(Model.Id);

    var documents = startNode.Children.ToList();
}
<section>
    <div class="container">
        @if (documents.Count > 0)
        {
            <div class="container shadow-flow">
                <div class="row mar-bot5">
                    <div class="cols-1">
                        <div class="title">
                            <h1 class="section-heading">@Html.Raw(Model.PageTitle)</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @foreach (ContentModels.ContentPage post in documents)
                    {
                        <a href="@post.Url()" alt="@Html.Raw(post.BrowserTitle)">
                           @Html.Raw(post.PageTitle)
                        </a>
                        <br />
                    }
                </div>
            </div>
        }
    </div>
</section>