<?xml version="1.0" encoding="utf-8"?>
<Content Key="e35ccca8-99fa-46dd-80e4-1c8a9e029055" Alias="Dødsfald" Level="3">
  <Info>
    <Parent Key="1cb33e0a-400a-4938-9547-b05a35739b8b">Info</Parent>
    <Path>/Hjem/Info/Dodsfald</Path>
    <Trashed>false</Trashed>
    <ContentType>blogpost</ContentType>
    <CreateDate>2019-07-15T22:06:49</CreateDate>
    <NodeName Default="Dødsfald" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="4d895734-c96f-429a-b996-862872bf2dfc">Blogpost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Article",
          "areas": [
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "quote",
                "embed",
                "macro",
                "media",
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "id": 1212,
                    "udi": "umb://media/2b8edcc8444c4b6382bba151ef19f471",
                    "image": "/media/1070/anders-og-moellen.jpg",
                    "caption": "Fremvisningen af Pibemølle sommeren 2015"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 8,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "macro",
                "embed",
                "headline",
                "quote"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>Torsdag den 11 juli 2019 mistede vi Anders Kæmpe. <br />Han har været alvorligt syg igennem mere end et halvt år og kunne nu ikke mere.</p>\n<p>Anders har været en af Tvingsbakkens store ildsjæle og bl.a. gået forrest i forbindelse med regnvandsprojektet. Hvor vi skylder ham en stor tak for hans ihærdighed og arbejdsomhed.<br />Selv udenfor Tvingsbakken var Anders også aktiv, og var med i Pibe Mølle Laug. Her var han der, når der skulle repareres/fornyes på Pibe møllen. Og stod ikke tilbage når sejlene på møllevingerne skulle ind på mølledagene.<br /><br />Ham kommer vi til at savne.</p>\n<p>Vores tanker går til familien og alle som har stået Anders nær.<br /><br />Der vil være bisættelse fra Annisse kirke torsdag d. 25 juli 2019 kl. 13,00.</p>\n<p><br />Bestyrelse</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ],
              "hasActiveChild": true,
              "active": true
            }
          ],
          "hasConfig": false,
          "id": "9b42a125-1210-babe-c5a2-19261096838f",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <browserTitle>
      <Value><![CDATA[]]></Value>
    </browserTitle>
    <categories>
      <Value><![CDATA[Info]]></Value>
    </categories>
    <excerpt>
      <Value><![CDATA[Torsdag den 11 juli 2019 mistede vi Anders Kæmpe]]></Value>
    </excerpt>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <pageTitle>
      <Value><![CDATA[Dødsfald]]></Value>
    </pageTitle>
    <publishDate>
      <Value><![CDATA[2019-07-15T00:00:00]]></Value>
    </publishDate>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <someDescription>
      <Value><![CDATA[]]></Value>
    </someDescription>
    <someImage>
      <Value><![CDATA[]]></Value>
    </someImage>
    <someTitle>
      <Value><![CDATA[]]></Value>
    </someTitle>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>