<?xml version="1.0" encoding="utf-8"?>
<Content Key="09feeca2-a32c-4de0-9c8a-dc19140651c5" Alias="E-mail liste" Level="3">
  <Info>
    <Parent Key="1cb33e0a-400a-4938-9547-b05a35739b8b">Info</Parent>
    <Path>/Hjem/Info/EMailListe</Path>
    <Trashed>false</Trashed>
    <ContentType>blogpost</ContentType>
    <CreateDate>2019-01-17T22:56:31</CreateDate>
    <NodeName Default="E-mail liste" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4d895734-c96f-429a-b996-862872bf2dfc">Blogpost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Full Width",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media",
                "embed",
                "headline",
                "rte",
                "macro"
              ],
              "config": null,
              "styles": null,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>Vi har gennemgået alle email vi har på beboerne her på Tvingsbakken, og pt kan vi se at der ligger en del, men mange er gengangere. Da vi ofte bruger e-mail til udsending, vil nogle gå glip af denne infomation. Derfor opfordrer vi til, at hvis du ikke allerede er med på e-mail listen, så skrev en e-mail til bestyrelsen på e-mail adresse <a href=\"mailto:tvingsbakken.bestyrelsen@gmail.com\">tvingsbakken.bestyrelsen@gmail.com</a><br /><br />På forhånd tak<br />Bestyrelsen</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "styles": null,
                  "config": null,
                  "active": true,
                  "deletePrompt": false
                }
              ]
            }
          ],
          "styles": null,
          "config": null,
          "hasConfig": false,
          "id": "274a2190-82fb-409a-7948-b9c12467e098"
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <browserTitle>
      <Value><![CDATA[]]></Value>
    </browserTitle>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <excerpt>
      <Value><![CDATA[Opdatering af e-mail]]></Value>
    </excerpt>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <pageTitle>
      <Value><![CDATA[E-mail liste]]></Value>
    </pageTitle>
    <publishDate>
      <Value><![CDATA[2019-01-27T00:00:00]]></Value>
    </publishDate>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <someDescription>
      <Value><![CDATA[]]></Value>
    </someDescription>
    <someImage>
      <Value><![CDATA[]]></Value>
    </someImage>
    <someTitle>
      <Value><![CDATA[]]></Value>
    </someTitle>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>