<?xml version="1.0" encoding="utf-8"?>
<Content Key="72c4d253-c190-49b8-8294-00f1f1ada104" Alias="error500" Level="2">
  <Info>
    <Parent Key="156f1933-e327-4dce-b665-110d62720d03">Hjem</Parent>
    <Path>/Hjem/error500</Path>
    <Trashed>false</Trashed>
    <ContentType>errorPage500</ContentType>
    <CreateDate>2019-01-25T22:48:20</CreateDate>
    <NodeName Default="error500" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5872f48-f1c9-48f9-990a-2ad96f198900">ErrorPage500</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Full Width",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media",
                "embed",
                "headline",
                "rte",
                "macro"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>Der er sket en fejl.<br />Prøv eventuelt igen eller vend tilbage senere.</p>\n<p><a data-udi=\"umb://document/156f1933e3274dceb665110d62720d03\" href=\"/{localLink:umb://document/156f1933e3274dceb665110d62720d03}\" title=\"Hjem\">Kom til forsiden igen</a></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "70c58aeb-00e0-7bf8-b852-3ab0cce789dd"
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <browserTitle>
      <Value><![CDATA[]]></Value>
    </browserTitle>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <noFollow>
      <Value><![CDATA[1]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[1]]></Value>
    </noIndex>
    <pageTitle>
      <Value><![CDATA[Det er sket en fejl]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <someDescription>
      <Value><![CDATA[]]></Value>
    </someDescription>
    <someImage>
      <Value><![CDATA[]]></Value>
    </someImage>
    <someTitle>
      <Value><![CDATA[]]></Value>
    </someTitle>
    <umbracoNavihide>
      <Value><![CDATA[1]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>