<?xml version="1.0" encoding="utf-8"?>
<Content Key="bf88f63f-28e2-4a8a-82dc-8c8ec2f6ce13" Alias="Fastelavn 2021" Level="3">
  <Info>
    <Parent Key="1cb33e0a-400a-4938-9547-b05a35739b8b">Info</Parent>
    <Path>/Hjem/Info/Fastelavn2021</Path>
    <Trashed>false</Trashed>
    <ContentType>blogpost</ContentType>
    <CreateDate>2021-02-11T21:10:16</CreateDate>
    <NodeName Default="Fastelavn 2021" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4d895734-c96f-429a-b996-862872bf2dfc">Blogpost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Full Width",
          "id": "a7398d02-ce27-cbe1-65e4-a0d2c6801379",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<p>Kære alle</p>\n<p>I år har vi valgt ikke at afholde fastelavn på Tvingsbakken p.g.a. Covid-19.<br />Vi håber på at kunne lave en ekstra speciel fastelavnsfest næste år på bakken med tønder til små og store - ikke mindst de voksne.</p>\n<p>Vi håber på et glædeligt gensyn næste år.</p>\n<p>Med venlig hilsen<br />Bestyrelsen</p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <browserTitle>
      <Value><![CDATA[Fastelavn 2021 aflyst]]></Value>
    </browserTitle>
    <categories>
      <Value><![CDATA[Fastelavn]]></Value>
    </categories>
    <excerpt>
      <Value><![CDATA[I år har vi valgt ikke at afholde fastelavn på Tvingsbakken p.g.a. covid-19.]]></Value>
    </excerpt>
    <keywords>
      <Value><![CDATA[["Fastelavn","Aflyst","2021"]]]></Value>
    </keywords>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <pageTitle>
      <Value><![CDATA[Fastelavn 2021 aflyst]]></Value>
    </pageTitle>
    <publishDate>
      <Value><![CDATA[2021-02-10T00:00:00]]></Value>
    </publishDate>
    <seoMetaDescription>
      <Value><![CDATA[Fastelavn 2021 aflyst p.g.a. Covid-19]]></Value>
    </seoMetaDescription>
    <someDescription>
      <Value><![CDATA[I år har vi valgt ikke at afholde fastelavn på Tvingsbakken p.g.a. Covid-19. Vi håber på at kunne lave en ekstra speciel fastelavnsfest næste år på bakken med tønder til små og store - ikke mindst de voksne. Vi håber på et glædeligt gensyn næste år.]]></Value>
    </someDescription>
    <someImage>
      <Value><![CDATA[umb://media/d9d7c60fbf88450cbc17b2e57e8d81a8]]></Value>
    </someImage>
    <someTitle>
      <Value><![CDATA[Fastelavn 2021 aflyst]]></Value>
    </someTitle>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>