<?xml version="1.0" encoding="utf-8"?>
<Content Key="a9091a9b-a454-4ea2-a872-0bb171dbee90" Alias="Fibernet opfyldning - Gigabit" Level="3">
  <Info>
    <Parent Key="1cb33e0a-400a-4938-9547-b05a35739b8b">Info</Parent>
    <Path>/Hjem/Info/FibernetOpfyldningGigabit</Path>
    <Trashed>false</Trashed>
    <ContentType>blogpost</ContentType>
    <CreateDate>2020-08-20T19:13:33</CreateDate>
    <NodeName Default="Fibernet opfyldning - Gigabit" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4d895734-c96f-429a-b996-862872bf2dfc">Blogpost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Full Width",
          "id": "28bf9d9d-0b3f-507f-dee9-772e3fd26608",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<p>Gigabit har meldt ud den 6 august 2020 følgende</p>\n<p><br /><em>Der bliver hver eneste dag færdiggjort strækninger i andre projekter, hvilket betyder, at vi nu er tættere på at kunne starte hos dig end tidligere.</em></p>\n<p><br /><em>Oven på de sidste udmeldinger holder vi stadig planerne, som blev sendt ud i sidste mail.</em></p>\n<p><em>Vi forventer derfor fortsat at starte med at søge gravetilladelser i november 2020 og at jer, som er tilmeldte nu, vil være online i maj 2021.</em></p>\n<p><br /><em>Vi glæder os meget til at udrulle fibernet i Annisse Nord!<br /><br /><br /><br /></em></p>\n<p><em>Med venlig hilsen <br />Gigabit</em></p>\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <browserTitle>
      <Value><![CDATA[]]></Value>
    </browserTitle>
    <categories>
      <Value><![CDATA[Info]]></Value>
    </categories>
    <excerpt>
      <Value><![CDATA[Opfyldning på fibernet fra Gigabit]]></Value>
    </excerpt>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <pageTitle>
      <Value><![CDATA[Opfyldning på fibernet]]></Value>
    </pageTitle>
    <publishDate>
      <Value><![CDATA[2020-08-07T00:00:00]]></Value>
    </publishDate>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <someDescription>
      <Value><![CDATA[]]></Value>
    </someDescription>
    <someImage>
      <Value><![CDATA[]]></Value>
    </someImage>
    <someTitle>
      <Value><![CDATA[]]></Value>
    </someTitle>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>