<?xml version="1.0" encoding="utf-8"?>
<Content Key="5ba88243-3973-4427-994f-9fc30d27da0c" Alias="Forårsdag på Tvingsbakkens sidste del" Level="3">
  <Info>
    <Parent Key="7f19f011-823f-47f0-9c90-7c86d53b156c">Billeder</Parent>
    <Path>/Hjem/Billeder/ForarsdagPaTvingsbakkensSidsteDel</Path>
    <Trashed>false</Trashed>
    <ContentType>galleryImage</ContentType>
    <CreateDate>2019-03-03T23:37:01</CreateDate>
    <NodeName Default="Forårsdag på Tvingsbakkens sidste del" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <dateTaken>
      <Value><![CDATA[2018-05-13T00:00:00]]></Value>
    </dateTaken>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <filter>
      <Value><![CDATA[["road"]]]></Value>
    </filter>
    <image>
      <Value><![CDATA[{"focalPoint":{"left":0.46166666666666667,"top":0.56222222222222218},"src":"/media/1057/20180513_174859.jpg","crops":[{"alias":"thumb","width":720,"height":540},{"alias":"full","width":1130,"height":848}]}]]></Value>
    </image>
    <photograph>
      <Value><![CDATA[Kim Steen Vangskjær]]></Value>
    </photograph>
    <title>
      <Value><![CDATA[Forårsdag på Tvingsbakkens sidste del]]></Value>
    </title>
  </Properties>
</Content>