<?xml version="1.0" encoding="utf-8"?>
<Content Key="3105e24f-da6f-4b0d-acd1-3898d409c73d" Alias="Underskriftsindsamling mod lergravning" Level="3">
  <Info>
    <Parent Key="1cb33e0a-400a-4938-9547-b05a35739b8b">Info</Parent>
    <Path>/Hjem/Info/UnderskriftsindsamlingModLergravning</Path>
    <Trashed>false</Trashed>
    <ContentType>blogpost</ContentType>
    <CreateDate>2020-11-03T23:13:32</CreateDate>
    <NodeName Default="Underskriftsindsamling mod lergravning" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4d895734-c96f-429a-b996-862872bf2dfc">Blogpost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Full Width",
          "id": "a4f3e08f-7d58-6b5f-fad6-f1c83782a4d7",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<p>I forbindelse med råstofplan 2020 og forlængelse borgermødet d. 19 okt. 2020, vil gruppen bestående af repræsentanter fra de forskellige grundejerforeninger m.v. forsøge at undgår at der kommer til at være en lergrav i det område, som går op til Ryagergårdsvej nederste del af Tvingsbakken over mod golfbanerne. (Det mørkelilla område)</p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "id": 1249,
                    "udi": "umb://media/989d482c69294c52bb6878fc4dfa453c",
                    "image": "/media/fjej1gbj/2020-10-18_22h56_31.png"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "<p>Der er derfor oprettet underskriftsindsamling imod oprettelse af en lergrav i Annisse Nord. <br />Deadline er d. 25 nov. 2020.<br /><br /><br />Underskriftindsamlingen finder man her:<br /><a rel=\"nofollow noopener\" tabindex=\"0\" href=\"https://www.skrivunder.net/lergrav_i_baghaven_nej_tak?fbclid=IwAR0_L0EGfQEbdbdF5PTxrSh-YsgygIkmE80UpKi3PcLrxZXJnbBXirZ32_k\" target=\"_blank\" class=\"oajrlxb2 g5ia77u1 qu0x051f esr5mh6w e9989ue4 r7d6kgcz rq0escxv nhd2j8a9 nc684nl6 p7hjln8o kvgmc6g5 cxmmr5t8 oygrvhab hcukyx3x jb3vyjys rz4wbd8a qt6c0cv9 a8nywdso i1ao9s8h esuyzwwr f1sip0of lzcic4wl py34i1dx gpro0wi8\">https://www.skrivunder.net/lergrav_i_baghaven_nej_tak</a><br /><br />Med venlig hilsen <br />bestyrelsen</p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <browserTitle>
      <Value><![CDATA[Underskriftsindsamling mod lergravning]]></Value>
    </browserTitle>
    <categories>
      <Value><![CDATA[Råstofplan,Lergravning]]></Value>
    </categories>
    <excerpt>
      <Value><![CDATA[Der er oprettet en underskriftsindsamling mod lergrav i Annisse Nord]]></Value>
    </excerpt>
    <keywords>
      <Value><![CDATA[["Råstofplan","Råstof","Lokalområdet","underskriftindsamling"]]]></Value>
    </keywords>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <pageTitle>
      <Value><![CDATA[Underskriftsindsamling mod en lergrav i Annisse Nord]]></Value>
    </pageTitle>
    <publishDate>
      <Value><![CDATA[2020-11-02T00:00:00]]></Value>
    </publishDate>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <someDescription>
      <Value><![CDATA[]]></Value>
    </someDescription>
    <someImage>
      <Value><![CDATA[]]></Value>
    </someImage>
    <someTitle>
      <Value><![CDATA[]]></Value>
    </someTitle>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>