<?xml version="1.0" encoding="utf-8"?>
<Content Key="867d93cd-fb84-460d-9a96-426dafbf06f2" Alias="Vejen midtvejs en eftersårsdag vest" Level="3">
  <Info>
    <Parent Key="7f19f011-823f-47f0-9c90-7c86d53b156c">Billeder</Parent>
    <Path>/Hjem/Billeder/VejenMidtvejsEnEftersarsdagVest</Path>
    <Trashed>false</Trashed>
    <ContentType>galleryImage</ContentType>
    <CreateDate>2019-02-18T22:47:38</CreateDate>
    <NodeName Default="Vejen midtvejs en eftersårsdag vest" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <dateTaken>
      <Value><![CDATA[2018-10-14T00:00:00]]></Value>
    </dateTaken>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <filter>
      <Value><![CDATA[["road"]]]></Value>
    </filter>
    <image>
      <Value><![CDATA[{"focalPoint":{"left":0.515,"top":0.76627218934911245},"src":"/media/1050/20181014_135722.jpg","crops":[{"alias":"thumb","width":720,"height":540},{"alias":"full","width":1130,"height":848}]}]]></Value>
    </image>
    <photograph>
      <Value><![CDATA[Kim Steen Vangskjær]]></Value>
    </photograph>
    <title>
      <Value><![CDATA[Vejen midtvejs en eftersårsdag - Vest - før cykelstien]]></Value>
    </title>
  </Properties>
</Content>