<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <rewrite>
        <rules>
          <!-- Allow .well-known to run http and other domains - needed by letsencrypt -->
          <rule name="Exclude all .well-known addresses" stopProcessing="true">
            <match url="(.*)" />
            <conditions>
              <add input="{REQUEST_URI}" pattern="\.well-known/" />
            </conditions>
          </rule>
          <!-- Redirect to https -->
          <rule name="HTTP to HTTPS redirect" stopProcessing="true">
            <match url="(.*)"/>
            <conditions logicalGrouping="MatchAll">
              <add input="{HTTPS}" pattern="off" ignoreCase="true"/>
              <add input="{HTTP_HOST}" pattern="localhost" negate="true"/>
            </conditions>
            <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent"/>
          </rule>
          <rule name="Remove WWW" stopProcessing="true">
            <match url=".*" ignoreCase="true" />
            <conditions logicalGrouping="MatchAll">
              <add input="{HTTP_HOST}" pattern="^www\.(.*)$" />
            </conditions>
            <action type="Redirect" url="https://{C:1}/{R:0}" appendQueryString="true" redirectType="Permanent" />
          </rule>
        </rules>
      </rewrite>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\TBGF.Apps.Website.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
    <system.web>
      <httpRuntime enableVersionHeader="false" />
    </system.web>    
  </location>
</configuration>
