@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using Umbraco.Cms.Web;
@{
    Layout = null;
    var home = (Home)Model.Root();
}<footer class="footer">
    <div class="container">
        <div class="row align-center copyright">
            <div class="cols-1">
                @home.FooterHeader &copy; 2019 - @DateTime.Now.Year - @home.FooterAddress
            </div>
        </div>
    </div>
</footer>
<a href="#header" class="scrollup" id="scrollUp">
    <div class="scrollup-arrow" title="Kom til toppen"></div>
</a>