@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web;
@{ 
    var site = Model.Content.Site();
    var selection = site.Children.Where(x => x.IsVisible());
}
<header class="large">
  <nav>
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="fa fa-bars color-white menu-bar"></span>
        </button>
        <a href="/">
          <img id="Logo" src="/assets/images/logo-white.svg" alt="Logo" class="logo" />
        </a>
    </div>

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="@Html.Raw(Model.Content.Id == site.Id ? "active" : "")"><a href="/">Hjem</a></li>
          @foreach (var item in selection)
          {
            <li class="@(item.IsAncestorOrSelf(Model.Content) ? "active" : "")">
                <a href="@item.Url">@item.Name</a>
            </li>
          }
        </ul>
    </div>        
  </nav>
</header>