<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="f38bd2d7-65d0-48e6-95dc-87ce06ec2d3d" Alias="Folder" Level="1">
  <Info>
    <Name>Folder</Name>
    <Icon>icon-folder</Icon>
    <Thumbnail>icon-folder</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
  </Info>
  <GenericProperties>
    <GenericProperty>
      <Key>0000001b-0000-0000-0000-000000000000</Key>
      <Name>Contents:</Name>
      <Alias>contents</Alias>
      <Definition>3a0156c4-3b8c-4803-bdc1-6871faa83fff</Definition>
      <Type>Umbraco.ListView</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Structure>
    <MediaType Key="f38bd2d7-65d0-48e6-95dc-87ce06ec2d3d" SortOrder="0">Folder</MediaType>
    <MediaType Key="cc07b313-0843-4aa8-bbda-871c8da728c8" SortOrder="0">Image</MediaType>
    <MediaType Key="4c52d8ab-54e6-40cd-999c-7a5f24903e4d" SortOrder="0">File</MediaType>
  </Structure>
  <Tabs>
    <Tab>
      <Caption>Contents</Caption>
      <SortOrder>1</SortOrder>
      <Alias>contents</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</MediaType>