a {
	color: #217c03;
}
a:hover {
	color: #468b2e;
}

/* menu */
.nav>li>a:hover {
	color: #468b2e;
}

.navbar .navbar-nav > .active > a {
	color: #217c03;
}
.navbar .navbar-brand:hover {
	color: #217c03;
}

/* flexslider */
.flex-control-paging li a {
	background: #417630;
}

.flex-direction-nav a:hover{
	background-color:#417630;
}


/* portfolio */
.portfolio-item .portfolio-desc {
	background: #417630;
}

/* btn */
.btn-theme {
  background: #417630;
}
.btn-theme:hover,.btn-theme:focus,.btn-theme:active{
  background: #417630;
}
.btn-cta,.btn-cta.btn-lg {
  background: #417630;
  border-color: #417630;
}

.btn-cta:focus,.btn-cta:active{
   border-color: #417630;
}

/* footer */
.social-circle li a {
	background:#417630;
}