<?xml version="1.0" encoding="utf-8"?>
<Content Key="1aa4810c-a327-47c7-9d2d-b1d003c3f351" Alias="Affaldsortering og genbrug" Level="3">
  <Info>
    <Parent Key="2d7f6cd6-2629-490f-bebb-e0c8e05065a0">Dokumenter</Parent>
    <Path>/Hjem/Dokumenter/AffaldsorteringOgGenbrug</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-02-23T23:06:50</CreateDate>
    <NodeName Default="Affaldsortering og genbrug" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="faacc8e2-d8c3-40d8-8e05-dfc6734c38ca">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Full Width",
          "id": "3f344eaa-25b2-4e5c-a680-9629b858d13a",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<p><strong>Affald, sortering og tømning</strong></p>\n<p>I Gribskov kommune sorteres der pt. kun i grønt (madaffald) og rødt affald (restaffald), og spandene tømmes skiftevis hver 2. uge.</p>\n<ul>\n<li>Rød spand tømmes i ulige uger.</li>\n<li>Grøn spand tømmes i lige uger.</li>\n</ul>\n<p>Øvrig sortering som glas, plastik, metal, papir foregår ved lokal stationer - nærmeste er ved Bjørnehøjskolen eller Annisse Forsamlingshus.<br>Du kan se mere i <a href=\"https://gribskov.dk/Media/3/A/gribskov-graested-park_sorteringsvejledning-til-koeleskab_bagside.pdf\">kommunen folder omkring sortering</a>.</p>\n<p>Grønne poser til bioaffald leveres gratis. Du skal blot binde en pose på din skældespand. Herved signaleres til skraldemanden, at du mangler poser.</p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1273,
                    "udi": "umb://media/199dfdb37fe74a2bbcb3215ae27d5552",
                    "image": "/media/wx4j0gph/affald.png",
                    "altText": "Skrældespande"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <browserTitle>
      <Value><![CDATA[Affaldsortering og genbrug]]></Value>
    </browserTitle>
    <keywords>
      <Value><![CDATA[[
  "Affaldsortering, affald"
]]]></Value>
    </keywords>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <pageTitle>
      <Value><![CDATA[Affaldsortering og genbrug]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[Affaldsortering og genbrug i Gribskov kommune]]></Value>
    </seoMetaDescription>
    <someDescription>
      <Value><![CDATA[]]></Value>
    </someDescription>
    <someImage>
      <Value><![CDATA[]]></Value>
    </someImage>
    <someTitle>
      <Value><![CDATA[]]></Value>
    </someTitle>
    <umbracoNavihide>
      <Value><![CDATA[1]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>