<?xml version="1.0" encoding="utf-8"?>
<Content Key="5582ae2f-efa8-422f-a9c9-7ff1c9e8dd85" Alias="Bestyrelsen" Level="2">
  <Info>
    <Parent Key="156f1933-e327-4dce-b665-110d62720d03">Hjem</Parent>
    <Path>/Hjem/Bestyrelsen</Path>
    <Trashed>false</Trashed>
    <ContentType>people</ContentType>
    <CreateDate>2019-01-17T22:56:30</CreateDate>
    <NodeName Default="Bestyrelsen" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="419e902f-cc45-400d-9f74-e4747c02b645">People</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <browserTitle>
      <Value><![CDATA[Bestyrelsen]]></Value>
    </browserTitle>
    <featuredPeople>
      <Value><![CDATA[]]></Value>
    </featuredPeople>
    <keywords>
      <Value><![CDATA[[
  "Seneste valgte bestyrelsen",
  "bestyrelse",
  "2019-2020"
]]]></Value>
    </keywords>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <pageTitle>
      <Value><![CDATA[Bestyrelsens medlemmer (valgt 2020)]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[Grundejerforeningen Tvingsbakkens bestyrelsen valgt 2019]]></Value>
    </seoMetaDescription>
    <someDescription>
      <Value><![CDATA[]]></Value>
    </someDescription>
    <someImage>
      <Value><![CDATA[]]></Value>
    </someImage>
    <someTitle>
      <Value><![CDATA[]]></Value>
    </someTitle>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>