<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f6c6fec-9090-4c8a-aa38-fa9b2b2268a2" Alias="Det lille røde efterårs ildtræ" Level="3">
  <Info>
    <Parent Key="7f19f011-823f-47f0-9c90-7c86d53b156c">Billeder</Parent>
    <Path>/Hjem/Billeder/DetLilleRoedeEfteraarsIldtrae</Path>
    <Trashed>false</Trashed>
    <ContentType>galleryImage</ContentType>
    <CreateDate>2019-02-07T23:36:37</CreateDate>
    <NodeName Default="Det lille røde efterårs ildtræ" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <dateTaken>
      <Value><![CDATA[2018-01-14T00:00:00]]></Value>
    </dateTaken>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <filter>
      <Value><![CDATA[[
  "road"
]]]></Value>
    </filter>
    <image>
      <Value><![CDATA[{
  "focalPoint": {
    "left": "0.715",
    "top": "0.591715976331361"
  },
  "src": "/media/1046/20181014_140055.jpg",
  "crops": [
    {
      "alias": "thumb",
      "width": "720",
      "height": "540"
    },
    {
      "alias": "full",
      "width": "1130",
      "height": "848"
    }
  ]
}]]></Value>
    </image>
    <photograph>
      <Value><![CDATA[Kim Steen Vangskjær]]></Value>
    </photograph>
    <title>
      <Value><![CDATA[Det lille røde efterårs ildtræ]]></Value>
    </title>
  </Properties>
</Content>