<?xml version="1.0" encoding="utf-8"?>
<Content Key="bd285451-c0b5-4115-8336-c421e995a97f" Alias="Fællesdag på legepladsen" Level="3">
  <Info>
    <Parent Key="1cb33e0a-400a-4938-9547-b05a35739b8b">Info</Parent>
    <Path>/Hjem/Info/FaellesdagPaaLegepladsen</Path>
    <Trashed>false</Trashed>
    <ContentType>blogpost</ContentType>
    <CreateDate>2022-04-27T22:46:57</CreateDate>
    <NodeName Default="Fællesdag på legepladsen" />
    <SortOrder>33</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4d895734-c96f-429a-b996-862872bf2dfc">Blogpost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Full Width",
          "id": "adccae20-0182-4975-b668-29a69f409369",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<p>På lørdag d. 30 april kl 11 holder vi Legepladsudvalget en fællesdag på legepladsen.<br /><br /></p>\n<div>Se <a href=\"/{localLink:umb://media/c7959b345ad347d89ddd8dc5022ee97d}\" title=\"Legepladsdag 30.April 2022\">invitation</a>.</div>\n<div></div>\n<div>I må undskylde den sene udmelding.</div>\n<div></div>\n<div>mvh</div>\n<div>Jeppe(Tvingsbakken 4) og resten af legepladsudvalget</div>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <browserTitle>
      <Value><![CDATA[Fællesdag på legepladsen]]></Value>
    </browserTitle>
    <categories>
      <Value><![CDATA[begivenhed]]></Value>
    </categories>
    <excerpt>
      <Value><![CDATA[På lørdag d. 30 april kl 11 holder vi Legepladsudvalget en fællesdag på legepladsen.]]></Value>
    </excerpt>
    <keywords>
      <Value><![CDATA[[
  "begivenhed",
  "Legepladsen"
]]]></Value>
    </keywords>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <pageTitle>
      <Value><![CDATA[Fællesdag på legepladsen]]></Value>
    </pageTitle>
    <publishDate>
      <Value><![CDATA[2022-04-27T00:00:00]]></Value>
    </publishDate>
    <seoMetaDescription>
      <Value><![CDATA[På lørdag d. 30 april kl 11 holder vi Legepladsudvalget en fællesdag på legepladsen.]]></Value>
    </seoMetaDescription>
    <someDescription>
      <Value><![CDATA[]]></Value>
    </someDescription>
    <someImage>
      <Value><![CDATA[]]></Value>
    </someImage>
    <someTitle>
      <Value><![CDATA[]]></Value>
    </someTitle>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>