<?xml version="1.0" encoding="utf-8"?>
<Content Key="a4174f42-86fb-47ee-a376-c3366597c5fc" Alias="Fastelavn på Tvingsbakken" Level="3">
  <Info>
    <Parent Key="1cb33e0a-400a-4938-9547-b05a35739b8b">Info</Parent>
    <Path>/Hjem/Info/FastelavnPaaTvingsbakken</Path>
    <Trashed>false</Trashed>
    <ContentType>blogpost</ContentType>
    <CreateDate>2019-01-17T22:56:31</CreateDate>
    <NodeName Default="Fastelavn på Tvingsbakken" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4d895734-c96f-429a-b996-862872bf2dfc">Blogpost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Full Width",
          "areas": [
            {
              "grid": "12",
              "allowAll": "False",
              "allowed": [
                "media",
                "embed",
                "headline",
                "rte",
                "macro"
              ],
              "hasConfig": "False",
              "controls": [
                {
                  "value": "<p>Traditionen tro afholder vi fastelavn på Tvingsbakken og i år vil det foregå hos Lars og Kristina - Tvingsbakken 26.</p>\n<p><strong>Kom og være med søndag d. 3. marts 2019 kl. 11</strong></p>\n<p>Der vil blive slået katten af tønden og der er præmier for de flotteste udklædte børn og voksne.</p>\n<p><br />Af hensyn til indkøb skal vi vide, hvor mange der kommer. Så tilmeld jer seneste mandag d. 25. februar og send en SMS til 20787600</p>\n<p>Vel mødt kommende kattekonge/kattedronning ;-)<br /><br />Med venlig hilsen<br />Bestyrelsen Tvingsbakken</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": "False"
                }
              ]
            }
          ],
          "hasConfig": "False",
          "id": "ebaafffd-79cf-7d49-dd7d-59106bdd706b"
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <browserTitle>
      <Value><![CDATA[Fastelavn på Tvingsbakken]]></Value>
    </browserTitle>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <excerpt>
      <Value><![CDATA[Traditionen tro afholder vi fastelavn på Tvingsbakken]]></Value>
    </excerpt>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <pageTitle>
      <Value><![CDATA[Fastelavn på Tvingsbakken]]></Value>
    </pageTitle>
    <publishDate>
      <Value><![CDATA[2019-02-16T00:00:00]]></Value>
    </publishDate>
    <seoMetaDescription>
      <Value><![CDATA[Fastelavn på Tvingsbakken 2019]]></Value>
    </seoMetaDescription>
    <someDescription>
      <Value><![CDATA[]]></Value>
    </someDescription>
    <someImage>
      <Value><![CDATA[]]></Value>
    </someImage>
    <someTitle>
      <Value><![CDATA[]]></Value>
    </someTitle>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>