<?xml version="1.0" encoding="utf-8"?>
<Content Key="17a11322-bbfa-43ec-b936-f8ad5acc2543" Alias="Fastelavn på Tvingsbakken 2020" Level="3">
  <Info>
    <Parent Key="1cb33e0a-400a-4938-9547-b05a35739b8b">Info</Parent>
    <Path>/Hjem/Info/FastelavnPaaTvingsbakken2020</Path>
    <Trashed>false</Trashed>
    <ContentType>blogpost</ContentType>
    <CreateDate>2020-01-27T23:41:32</CreateDate>
    <NodeName Default="Fastelavn på Tvingsbakken 2020" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4d895734-c96f-429a-b996-862872bf2dfc">Blogpost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Full Width",
          "id": "ca3eef49-f20e-b52d-1ec6-08da0d4a522e",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "id": "1221",
                    "udi": "umb://media/d9d7c60fbf88450cbc17b2e57e8d81a8",
                    "image": "/media/bhdnpwmi/fastelavn2020.png",
                    "caption": "Fastelavn 2020"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "<p><strong>Grundejerforeningen Tvingsbakken</strong> inviterer til fastelavn i nr. 26<br /><strong>Søndag den 23. februar kl. 11.00</strong><br />Vi serverer fastelavnsboller, hotdogs, kakao, kaffe og the.<br />Der er som altid en tønde til de mindre børn og en til de større.<br />Vi glæder os til et par hyggelige timer. Alle er velkomne både med og uden børn.<br /><br /><em>Husk at svare senest d. 14 februar på omdelte flyer eller e-mail </em><a href=\"mailto:tvingsbakken.bestyrelsen@gmail.com\" title=\"tvingsbakken.bestyrelsen@gmail.com\"><em>tvingsbakken.bestyrelsen@gmail.com</em></a><br /><br />Vel mødt udklædte som ikke udklædte<br /><br /></p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <browserTitle>
      <Value><![CDATA[Fastelavn på Tvingsbakken 2020]]></Value>
    </browserTitle>
    <categories>
      <Value><![CDATA[Fastelavn]]></Value>
    </categories>
    <excerpt>
      <Value><![CDATA[Fastelavn på Tvingsbakken i nr 26 - Søndag d. 23 febuar kl 11.00]]></Value>
    </excerpt>
    <keywords>
      <Value><![CDATA[[
  "Fastelavn",
  "2020"
]]]></Value>
    </keywords>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <pageTitle>
      <Value><![CDATA[Fastelavn på Tvingsbakken 2020]]></Value>
    </pageTitle>
    <publishDate>
      <Value><![CDATA[2020-01-27T00:00:00]]></Value>
    </publishDate>
    <seoMetaDescription>
      <Value><![CDATA[Fastelavn på Tvingsbakken 2020]]></Value>
    </seoMetaDescription>
    <someDescription>
      <Value><![CDATA[]]></Value>
    </someDescription>
    <someImage>
      <Value><![CDATA[]]></Value>
    </someImage>
    <someTitle>
      <Value><![CDATA[]]></Value>
    </someTitle>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>