<?xml version="1.0" encoding="utf-8"?>
<Content Key="f53fbdbe-d5e8-492d-b519-171a10b801f2" Alias="Honning fra Tvingsbakken" Level="3">
  <Info>
    <Parent Key="1cb33e0a-400a-4938-9547-b05a35739b8b">Info</Parent>
    <Path>/Hjem/Info/HonningFraTvingsbakken</Path>
    <Trashed>false</Trashed>
    <ContentType>blogpost</ContentType>
    <CreateDate>2022-07-29T11:18:54</CreateDate>
    <NodeName Default="Honning fra Tvingsbakken" />
    <SortOrder>34</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4d895734-c96f-429a-b996-862872bf2dfc">Blogpost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Full Width",
          "id": "9014b704-2529-4de1-bfe1-25cbc7b52c83",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<p>Nu kan man igen købe honning fra Tvingsbakken.<br />Nede hos Rikke ved Tvingsbakken nr. 6. i den hvide tønde.<br />Honningen kommer fra en tidligere beboer (nr. 4) Majken Sundahl's bistader.<br />Som nu har huse i nr. 6.</p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": "0.5",
                      "top": "0.5"
                    },
                    "id": "1318",
                    "udi": "umb://media/be88995ac0874e24a356be17f0cbca6c",
                    "image": "/media/lsmjrpuh/honning-fra-tvingsbakken-2022.jpg",
                    "altText": "Honning fra Tvingsbakken 2022"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <browserTitle>
      <Value><![CDATA[Honning fra Tvingsbakken 2022]]></Value>
    </browserTitle>
    <categories>
      <Value><![CDATA[Honning]]></Value>
    </categories>
    <excerpt>
      <Value><![CDATA[Nu kan man igen købe honning fra Tvingsbakken.
Nede hos Rikke ved Tvingsbakken nr. 6. som kommer fra Majken Sundahl bistader.]]></Value>
    </excerpt>
    <keywords>
      <Value><![CDATA[[
  "Honning",
  "Tvingsbakken"
]]]></Value>
    </keywords>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <pageTitle>
      <Value><![CDATA[Honning fra Tvingsbakken kan købes]]></Value>
    </pageTitle>
    <publishDate>
      <Value><![CDATA[2022-07-29T00:00:00]]></Value>
    </publishDate>
    <seoMetaDescription>
      <Value><![CDATA[Honning fra Tvingsbakken 2022 i nr. 6.]]></Value>
    </seoMetaDescription>
    <someDescription>
      <Value><![CDATA[Nu kan man igen købe honning fra Tvingsbakken.
Nede hos Rikke ved Tvingsbakken nr. 6. i den hvide tønde.
Honningen kommer fra en tidligere beboer (nr. 4) Majken Sundahl's bistader.
Som nu har huse i nr. 6.]]></Value>
    </someDescription>
    <someImage>
      <Value><![CDATA[umb://media/be88995ac0874e24a356be17f0cbca6c]]></Value>
    </someImage>
    <someTitle>
      <Value><![CDATA[Honning fra Tvingsbakken]]></Value>
    </someTitle>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>