<?xml version="1.0" encoding="utf-8"?>
<Content Key="f5a41740-ec1a-46fe-95c0-2dd57c82c2a0" Alias="Lokalområdet" Level="2">
  <Info>
    <Parent Key="156f1933-e327-4dce-b665-110d62720d03">Hjem</Parent>
    <Path>/Hjem/Lokalomraadet</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2019-02-18T23:04:46</CreateDate>
    <NodeName Default="Lokalområdet" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="faacc8e2-d8c3-40d8-8e05-dfc6734c38ca">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Full Width",
          "id": "1c1d9bfd-2b74-9d5c-0202-8b3220672ee4",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<p>Vi har forsøgt at samle nogle link til information om lokalområdet her.</p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Three Columns",
          "id": "f8224d03-4357-bc0f-2ed5-8d6f5de1f154",
          "areas": [
            {
              "grid": "4",
              "controls": [
                {
                  "value": "<p><strong>Hjertestarter<br /></strong><a href=\"/hjertestarter/\" title=\"Hjertestartere i området\">Hjertestartere i området</a><strong><br /></strong></p>\n<p><strong>Institutioner i nærheden<br /></strong><a rel=\"noopener\" href=\"https://bjoernehoej.aula.dk/\" target=\"_blank\">Bjørnehøjskolen</a><strong><br /></strong><a rel=\"noopener\" href=\"https://www.institutioner.dk/gribskov/Bjoernegaarden\" target=\"_blank\">Bjørnegården</a><strong><br /></strong><a rel=\"noopener\" href=\"https://www.institutioner.dk/gribskov/Annisse-Boernehus\" target=\"_blank\">Annisse Naturbørnehus</a><strong><br /><br />Annisse<br /></strong><a rel=\"noopener\" href=\"https://annisse.dk/\" target=\"_blank\">Annisse siden</a><br /><a rel=\"noopener\" href=\"https://annisseforsamlingshus.dk/\" target=\"_blank\">Annisse forsamlingshus</a></p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "4",
              "controls": [
                {
                  "value": "<p><strong>Idræt/Sport<br /></strong><a rel=\"noopener\" href=\"https://annisse.dk/aif/\" target=\"_blank\">AIF - Annisse Idrætsforening</a><strong><br /></strong><a rel=\"noopener\" href=\"http://www.annisse-fodbold.dk/\" target=\"_blank\">Annisse Fodbold</a><strong><br /><br /></strong><strong>Pibemølle<br /></strong><a rel=\"noopener\" href=\"https://www.visitnordsjaelland.dk/nordsjaelland/planlaeg-din-tur/pibe-moelle-gdk619195\" target=\"_blank\">Pibemølle</a><br /><a rel=\"noopener\" href=\"https://www.pibemoelle.dk/\" target=\"_blank\">Pibemølle vin og ost</a><br /><a rel=\"noopener\" href=\"https://reegolf.dk/\" target=\"_blank\">Golf klubben - Ree Golf</a><br /><a rel=\"noopener\" href=\"https://www.cafe-pibemoelle.dk/\" target=\"_blank\" title=\"Café Pibemølle\">Café Pibemølle</a></p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "4",
              "controls": [
                {
                  "value": "<p><strong>Vine</strong><br /><a rel=\"noopener\" href=\"https://www.annisse-vingaard.dk/\" target=\"_blank\">Annisse Vingård</a><br /><a rel=\"noopener\" href=\"https://www.facebook.com/Garbolundnaturvin\" target=\"_blank\" title=\"Garbolund naturvin\">Garbolund Vin</a></p>\n<p><strong>Alsønderup<br /></strong><a rel=\"noopener\" href=\"https://xn--alsnderup-n8a.nu/\" target=\"_blank\">Lokalforening</a><strong><br /></strong><a rel=\"noopener\" href=\"https://xn--alsnderup-n8a.nu/udvalg/fiber/\" target=\"_blank\">Fibernet</a><strong><br /></strong></p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <browserTitle>
      <Value><![CDATA[Lokalområdet]]></Value>
    </browserTitle>
    <keywords>
      <Value><![CDATA[[
  "Lokalområdet"
]]]></Value>
    </keywords>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <pageTitle>
      <Value><![CDATA[Lokalområdet]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[Lokalområdet omkring Tvingsbakken]]></Value>
    </seoMetaDescription>
    <someDescription>
      <Value><![CDATA[]]></Value>
    </someDescription>
    <someImage>
      <Value><![CDATA[]]></Value>
    </someImage>
    <someTitle>
      <Value><![CDATA[]]></Value>
    </someTitle>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>