<?xml version="1.0" encoding="utf-8"?>
<Content Key="a74f5f56-d1ed-4381-a136-17cedd683afb" Alias="Nyt partytelt" Level="3">
  <Info>
    <Parent Key="1cb33e0a-400a-4938-9547-b05a35739b8b">Info</Parent>
    <Path>/Hjem/Info/NytPartytelt</Path>
    <Trashed>false</Trashed>
    <ContentType>blogpost</ContentType>
    <CreateDate>2020-09-14T18:58:10</CreateDate>
    <NodeName Default="Nyt partytelt" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4d895734-c96f-429a-b996-862872bf2dfc">Blogpost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Full Width",
          "id": "034c4da7-e83c-d49b-4b8c-3cdcca04b958",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<p>Bestyrelsen har indkøbt et nyt partytelt i størrelsen 5 x 8 m. til erstatning for det gamle. <br />Ønsker man at låne teltet, kan man læse mere omkring teltet <a href=\"/{localLink:umb://document/c760cdbf148249429fb090a76774d910}\" title=\"Teltet\">her</a>.</p>\n<p>Med venlig hilsen</p>\n<p>Bestyrelsen</p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <browserTitle>
      <Value><![CDATA[Nyt partytelt]]></Value>
    </browserTitle>
    <categories>
      <Value><![CDATA[Info]]></Value>
    </categories>
    <excerpt>
      <Value><![CDATA[Bestyrelsen har indkøbt et nyt partytelt i størrelsen 5 x 8 m]]></Value>
    </excerpt>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <pageTitle>
      <Value><![CDATA[Nyt partytelt]]></Value>
    </pageTitle>
    <publishDate>
      <Value><![CDATA[2020-09-13T00:00:00]]></Value>
    </publishDate>
    <seoMetaDescription>
      <Value><![CDATA[Bestyrelsen har indkøbt et nyt partytelt]]></Value>
    </seoMetaDescription>
    <someDescription>
      <Value><![CDATA[]]></Value>
    </someDescription>
    <someImage>
      <Value><![CDATA[]]></Value>
    </someImage>
    <someTitle>
      <Value><![CDATA[]]></Value>
    </someTitle>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>