<?xml version="1.0" encoding="utf-8"?>
<Content Key="8a04ed92-f951-4eb0-a419-22ce81880d9e" Alias="Rasmus Møller" Level="3">
  <Info>
    <Parent Key="5582ae2f-efa8-422f-a9c9-7ff1c9e8dd85">Bestyrelsen</Parent>
    <Path>/Hjem/Bestyrelsen/RasmusMoeller</Path>
    <Trashed>false</Trashed>
    <ContentType>person</ContentType>
    <CreateDate>2023-04-25T12:23:22</CreateDate>
    <NodeName Default="Rasmus Møller" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <browserTitle>
      <Value><![CDATA[]]></Value>
    </browserTitle>
    <description>
      <Value><![CDATA[<p>Tvingsbakken 3</p>]]></Value>
    </description>
    <elected>
      <Value><![CDATA[2023-2025]]></Value>
    </elected>
    <email>
      <Value><![CDATA[rasmus@slowandsteadyconsulting.com]]></Value>
    </email>
    <facebookUsername>
      <Value><![CDATA[]]></Value>
    </facebookUsername>
    <instagramUsername>
      <Value><![CDATA[]]></Value>
    </instagramUsername>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <linkedInUsername>
      <Value><![CDATA[]]></Value>
    </linkedInUsername>
    <memberType>
      <Value><![CDATA[Suppleant]]></Value>
    </memberType>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <phone>
      <Value><![CDATA[ +45 5382 4065]]></Value>
    </phone>
    <photo>
      <Value><![CDATA[umb://media/b2a26fb9316645f1947624653d69268e]]></Value>
    </photo>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <someDescription>
      <Value><![CDATA[]]></Value>
    </someDescription>
    <someImage>
      <Value><![CDATA[]]></Value>
    </someImage>
    <someTitle>
      <Value><![CDATA[]]></Value>
    </someTitle>
    <twitterUsername>
      <Value><![CDATA[]]></Value>
    </twitterUsername>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>