<?xml version="1.0" encoding="utf-8"?>
<Content Key="3219b35f-1c20-4193-af9c-e16639c18d15" Alias="Referater" Level="3">
  <Info>
    <Parent Key="2d7f6cd6-2629-490f-bebb-e0c8e05065a0">Dokumenter</Parent>
    <Path>/Hjem/Dokumenter/Referater</Path>
    <Trashed>false</Trashed>
    <ContentType>documents</ContentType>
    <CreateDate>2023-06-22T22:29:41</CreateDate>
    <NodeName Default="Referater" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2d12796f-86ca-4c6d-92fe-24974ebaef05">Documents</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <browserTitle>
      <Value><![CDATA[Bestyrelsesmødereferater]]></Value>
    </browserTitle>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <pageTitle>
      <Value><![CDATA[Bestyrelsesmødereferater ]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <someDescription>
      <Value><![CDATA[]]></Value>
    </someDescription>
    <someImage>
      <Value><![CDATA[]]></Value>
    </someImage>
    <someTitle>
      <Value><![CDATA[]]></Value>
    </someTitle>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>