<?xml version="1.0" encoding="utf-8"?>
<Content Key="6e190bd5-3e2b-47d1-823c-31cc68c8f115" Alias="Referat af generalforsamlingen 2022" Level="3">
  <Info>
    <Parent Key="1cb33e0a-400a-4938-9547-b05a35739b8b">Info</Parent>
    <Path>/Hjem/Info/ReferatAfGeneralforsamlingen2022</Path>
    <Trashed>false</Trashed>
    <ContentType>blogpost</ContentType>
    <CreateDate>2023-01-31T23:18:57</CreateDate>
    <NodeName Default="Referat af generalforsamlingen 2022" />
    <SortOrder>38</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4d895734-c96f-429a-b996-862872bf2dfc">Blogpost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Full Width",
          "id": "5aa90bf7-b21a-4925-8966-b0ce18145945",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<p>Referat af Tvingsbakkens ordinære generalforsamling 2022</p>\n<p>Kan læses <a href=\"/{localLink:umb://media/76f66de8a3b14848b0ec00d126dc4738}\" title=\"Referat ord-genforsamling 2022\">her</a></p>\n<p>Øvrige dokumenter omkring generalforsamling 2022 findes under <a href=\"/{localLink:umb://document/2d7f6cd62629490fbebbe0c8e05065a0}\" title=\"Dokumenter\">dokumenter</a></p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <browserTitle>
      <Value><![CDATA[Referat af generalforsamlingen 2022]]></Value>
    </browserTitle>
    <categories>
      <Value><![CDATA[Generalforsamling,2022]]></Value>
    </categories>
    <excerpt>
      <Value><![CDATA[Hermed referat af generalforsamlingen 2022]]></Value>
    </excerpt>
    <keywords>
      <Value><![CDATA[[
  "referat",
  "Generalforsamling",
  "2022"
]]]></Value>
    </keywords>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <pageTitle>
      <Value><![CDATA[Referat af generalforsamlingen 2022]]></Value>
    </pageTitle>
    <publishDate>
      <Value><![CDATA[2022-05-03T00:00:00]]></Value>
    </publishDate>
    <seoMetaDescription>
      <Value><![CDATA[Referat af generalforsamlingen 2022]]></Value>
    </seoMetaDescription>
    <someDescription>
      <Value><![CDATA[]]></Value>
    </someDescription>
    <someImage>
      <Value><![CDATA[]]></Value>
    </someImage>
    <someTitle>
      <Value><![CDATA[]]></Value>
    </someTitle>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>