<?xml version="1.0" encoding="utf-8"?>
<Content Key="bff7b1f1-cc49-4bda-8699-ecb85f18bc83" Alias="Svend Krøigaard" Level="3">
  <Info>
    <Parent Key="5582ae2f-efa8-422f-a9c9-7ff1c9e8dd85">Bestyrelsen</Parent>
    <Path>/Hjem/Bestyrelsen/SvendKroeigaard</Path>
    <Trashed>false</Trashed>
    <ContentType>person</ContentType>
    <CreateDate>2019-01-17T22:56:30</CreateDate>
    <NodeName Default="Svend Krøigaard" />
    <SortOrder>9</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <browserTitle>
      <Value><![CDATA[]]></Value>
    </browserTitle>
    <description>
      <Value><![CDATA[<p>Tvingsbakken 19</p>]]></Value>
    </description>
    <elected>
      <Value><![CDATA[Valgt: 2021-2023]]></Value>
    </elected>
    <email>
      <Value><![CDATA[pathfinder19535@gmail.com]]></Value>
    </email>
    <facebookUsername>
      <Value><![CDATA[]]></Value>
    </facebookUsername>
    <instagramUsername>
      <Value><![CDATA[]]></Value>
    </instagramUsername>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <linkedInUsername>
      <Value><![CDATA[]]></Value>
    </linkedInUsername>
    <memberType>
      <Value><![CDATA[Næstformand]]></Value>
    </memberType>
    <noFollow>
      <Value><![CDATA[1]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[1]]></Value>
    </noIndex>
    <phone>
      <Value><![CDATA[+45 2123 6366]]></Value>
    </phone>
    <photo>
      <Value><![CDATA[]]></Value>
    </photo>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <someDescription>
      <Value><![CDATA[]]></Value>
    </someDescription>
    <someImage>
      <Value><![CDATA[]]></Value>
    </someImage>
    <someTitle>
      <Value><![CDATA[]]></Value>
    </someTitle>
    <twitterUsername>
      <Value><![CDATA[]]></Value>
    </twitterUsername>
    <umbracoNavihide>
      <Value><![CDATA[1]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>