<?xml version="1.0" encoding="utf-8"?>
<Content Key="c760cdbf-1482-4942-9fb0-90a76774d910" Alias="Teltet" Level="2">
  <Info>
    <Parent Key="156f1933-e327-4dce-b665-110d62720d03">Hjem</Parent>
    <Path>/Hjem/Teltet</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2019-06-18T23:11:12</CreateDate>
    <NodeName Default="Teltet" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="faacc8e2-d8c3-40d8-8e05-dfc6734c38ca">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Full Width",
          "id": "7ceed108-e326-7485-c9e7-00644d6e3455",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<p>Tvingsbakken har et partytelt, som bruges til vejfesten i sensommeren. Men vejteltet kan lånes, ved at kontakte bestyrelsen og blive skrevet op på listen.<br>Bestyrelsen skal have navn adresse samt dato/periode for, hvornår man ønsker at låne teltet.</p>\n<p>Betingelser for at låne teltet.</p>\n<ul>\n<li>Teltet skal pakkes ned pænt, rent og tørt efter brug i den medfølgende kasse. For at undgår svamp og skimmel.</li>\n<li>Den beboer som låner teltet sidst opbevarer det også indtil næste lån.</li>\n<li>Teltet er for beboerne på Tvingsbakken og lånes ikke ud til tredjepart.</li>\n<li>Teltet må ikke forlade Tvingsbakken.</li>\n</ul>\n<p>Bestyrelsen har indkøbt et nyt telt i størrelsen 5 x 8 m.</p>\n<ul>\n<li style=\"text-align: left;\">Tvingsbakken 19 Svend Krøigaard - 22-29 maj 2023 (Teltet står her pt.)<br><br></li>\n</ul>\n<p> </p>\n<p>Med venlig hilsen<br><br>Bestyrelsen</p>\n<p> </p>\n<p> </p>\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <browserTitle>
      <Value><![CDATA[Partyteltet]]></Value>
    </browserTitle>
    <keywords>
      <Value><![CDATA[[
  "telt",
  "lån",
  "låneliste"
]]]></Value>
    </keywords>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <pageTitle>
      <Value><![CDATA[Tvingsbakkens partytelt]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[Tvingsbakken partytelt]]></Value>
    </seoMetaDescription>
    <someDescription>
      <Value><![CDATA[]]></Value>
    </someDescription>
    <someImage>
      <Value><![CDATA[]]></Value>
    </someImage>
    <someTitle>
      <Value><![CDATA[]]></Value>
    </someTitle>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>