<?xml version="1.0" encoding="utf-8"?>
<Content Key="c46f2fa7-dbf8-4112-99e2-c628e06982c9" Alias="test 1" Level="4">
  <Info>
    <Parent Key="23da6904-bd5d-4b64-ae61-5672071e1b7b">Bestyrelsesmøder</Parent>
    <Path>/Hjem/Dokumenter/Bestyrelsesmoeder/test1</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-06-22T12:54:01</CreateDate>
    <NodeName Default="test 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="faacc8e2-d8c3-40d8-8e05-dfc6734c38ca">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Full Width",
          "id": "296c1601-890b-466c-b27e-65dde7c2bd93",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<p>test test</p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <browserTitle>
      <Value><![CDATA[test 1]]></Value>
    </browserTitle>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <pageTitle>
      <Value><![CDATA[test 1]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <someDescription>
      <Value><![CDATA[]]></Value>
    </someDescription>
    <someImage>
      <Value><![CDATA[]]></Value>
    </someImage>
    <someTitle>
      <Value><![CDATA[]]></Value>
    </someTitle>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>