<?xml version="1.0" encoding="utf-8"?>
<Content Key="daf78640-d869-405c-a83f-93cd72db5f16" Alias="Vejen set fra vest" Level="3">
  <Info>
    <Parent Key="7f19f011-823f-47f0-9c90-7c86d53b156c">Billeder</Parent>
    <Path>/Hjem/Billeder/VejenSetFraVest</Path>
    <Trashed>false</Trashed>
    <ContentType>galleryImage</ContentType>
    <CreateDate>2019-02-11T00:38:28</CreateDate>
    <NodeName Default="Vejen set fra vest" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <dateTaken>
      <Value><![CDATA[2018-10-14T00:00:00]]></Value>
    </dateTaken>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <filter>
      <Value><![CDATA[[
  "road"
]]]></Value>
    </filter>
    <image>
      <Value><![CDATA[{
  "focalPoint": {
    "left": "0.5666666666666667",
    "top": "0.5976331360946746"
  },
  "src": "/media/1047/20181014_141051.jpg",
  "crops": [
    {
      "alias": "thumb",
      "width": "720",
      "height": "540",
      "coordinates": {
        "x1": "0.205",
        "y1": "0",
        "x2": "0.045",
        "y2": "0"
      }
    },
    {
      "alias": "full",
      "width": "1130",
      "height": "848"
    }
  ]
}]]></Value>
    </image>
    <photograph>
      <Value><![CDATA[Kim Steen Vangskjær]]></Value>
    </photograph>
    <title>
      <Value><![CDATA[Vejen set på en god efterårsdag]]></Value>
    </title>
  </Properties>
</Content>