<?xml version="1.0" encoding="utf-8"?>
<Content Key="c6d4f53a-f3bd-4bf7-b0f3-ebee62b73b07" Alias="Vores Gribskov - høringssvar" Level="3">
  <Info>
    <Parent Key="1cb33e0a-400a-4938-9547-b05a35739b8b">Info</Parent>
    <Path>/Hjem/Info/VoresGribskovHoeringssvar</Path>
    <Trashed>false</Trashed>
    <ContentType>blogpost</ContentType>
    <CreateDate>2023-01-29T11:04:45</CreateDate>
    <NodeName Default="Vores Gribskov - høringssvar" />
    <SortOrder>37</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4d895734-c96f-429a-b996-862872bf2dfc">Blogpost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Full Width",
          "id": "6d35e19e-19b9-44fc-bc8b-acbb4c26e53d",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<div><span>”Vores Gribskov – Udviklingspolitik og planstrategi”.<br /></span></div>\n<p>Som <span>baggrundsorientering det planlagte beboermøde 5. februar.<br /><br /><a rel=\"noopener\" href=\"/{localLink:umb://media/d29ff188795c46ce8671a9dc1083993f}\" target=\"_blank\" title=\"Høringssvar Vores Gribskov\">Høringssvar Vores Gribskov</a><br /><br /></span></p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <browserTitle>
      <Value><![CDATA[Høringssvar til ”Vores Gribskov – Udviklingspolitik og planstrategi” ]]></Value>
    </browserTitle>
    <categories>
      <Value><![CDATA[Teglværksgrunden]]></Value>
    </categories>
    <excerpt>
      <Value><![CDATA[”Vores Gribskov – Udviklingspolitik og planstrategi”.
Som baggrundsorientering det planlagte beboermøde 5. februar. 

]]></Value>
    </excerpt>
    <keywords>
      <Value><![CDATA[[
  "høringssvar"
]]]></Value>
    </keywords>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <pageTitle>
      <Value><![CDATA[Vores Gribskov - høringssvar]]></Value>
    </pageTitle>
    <publishDate>
      <Value><![CDATA[2023-01-28T00:00:00]]></Value>
    </publishDate>
    <seoMetaDescription>
      <Value><![CDATA[”Vores Gribskov – Udviklingspolitik og planstrategi”.
Som baggrundsorientering det planlagte beboermøde 5. februar. ]]></Value>
    </seoMetaDescription>
    <someDescription>
      <Value><![CDATA[]]></Value>
    </someDescription>
    <someImage>
      <Value><![CDATA[]]></Value>
    </someImage>
    <someTitle>
      <Value><![CDATA[]]></Value>
    </someTitle>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>